
<script src="/scripts/scripts-common.js"></script>

{% include_relative listeners.html %}
{% include_relative templates.html %}

<script>
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Fri Mar 25 00:02:06 PDT 2016
// Last Modified: Sun Apr  9 09:57:44 PDT 2017
// Filename:      variants/scripts-local.html
// Syntax:        JavaScript 1.8/ECMAScript 5
// vim:           ts=3: ft=javascript
//
// Description:   JavaScript management for the literary variants.
//

let CurrentPoem  = 0;  // ID of the current setting
let PoemList     = {}; // List of next/previous settings

let VARIORUM = {};


//////////////////////////////
//
// displaySetting --
//

function displaySetting(poem) {
	if (!poem) {
		poem = CurrentPoem;
	}
	if (poem) {
   	window.location = "/settings/?id=" + poem;
	} else {
   	window.location = "/settings";
	}
}



//////////////////////////////
//
// displaySource --
//

function displaySource(poem) {
	if (!poem) {
		poem = CurrentPoem;
	}
	if (poem) {
		window.location = "/sources/?id=" + poem;
	} else {
		window.location = "/sources";
	}
}



//////////////////////////////
//
// displayNextSource --
//

function displayNextPoem() {
	let nid = PoemList[CurrentPoem].next;
 	displayMarkup(nid);
}



//////////////////////////////
//
// displayPreviousSource --
//

function displayPreviousPoem() {
	let nid = PoemList[CurrentPoem].previous;
 	displayMarkup(nid);
}



//////////////////////////////
//
// displayMarkupInitialize -- Show the literary variants for the given
// 	catalog number.
//

function displayMarkupInitialize(id, target) {
	PrepareGlobalTassoObjects();
	if (!target) {
		target = "#contents-markup";
	}
	if (id) {
		id = id.replace(/[a-z]$/, "");
		CurrentPoem = id;
	} else {
		id = CurrentPoem;
		id = id.replace(/[a-z]$/, "");
		CurrentPoem = id;
	}

	let element = document.querySelector(target);
	if (!element) {
		console.log("Error: cannot place on page since", target, " doesn't exist.");
		return;
	}
	getPoemList(CurrentPoem, target);
	displayMarkup(id, target);
}



//////////////////////////////
//
// getPoemList --
//

function getPoemList(id, target) {

	if (id) {
		CurrentPoem = id;
	}
	buildAllSettingList();
	buildPoemList(ALLSETTINGLIST);
}



//////////////////////////////
//
// buildAllSettingList --
//

function buildAllSettingList() {
	ALLSETTINGLIST = RIMESETTINGLIST
// for now only incude rime settings in list of variants
// since there is only poetic text for the rime.
//		.concat(GERUSETTINGLIST)
//		.concat(AMINTASETTINGLIST)
//		.concat(OTHERSETTINGLIST.ECLOGHE)
//		.concat(OTHERSETTINGLIST.RINALDO)
//		.concat(OTHERSETTINGLIST.LAGRIME)
//		.concat(OTHERSETTINGLIST.TORRISMONDO)
	;
}



//////////////////////////////
//
// buildPoemList --
//

function	buildPoemList(list) {
	let tosort = {};
	let id;
	if (!list) {
		// list = ALLSETTINGLIST;
		list = RIMEVERSELIST;
	}
	for (let i=0; i<list.length; i++) {
		if (!list[i].CATALOGNUM) {
			if (list[i].SOLERTI) {
				id = "Trm";
				if (parseInt(list[i].SOLERTI) < 1000) {
					id += "0";
				}
				if (parseInt(list[i].SOLERTI) < 100) {
					id += "0";
				}
				if (parseInt(list[i].SOLERTI) < 10) {
					id += "0";
				}
				id += list[i].SOLERTI;
			}
		} else {
			id = list[i].CATALOGNUM.replace(/[a-z]$/, "");
		}
		tosort[id] = 1;
	}
	let ids = Object.keys(tosort);
	ids.sort();
	PoemList = {};
	for (let i=1; i<=ids.length-1; i++) {
		PoemList[ids[i]] = {};
		PoemList[ids[i]].next     = ids[i+1];
		PoemList[ids[i]].previous = ids[i-1];
	}

	if (ids.length == 1) {
		PoemList[ids[0]] = {};
		PoemList[ids[0]].next = ids[0];
		PoemList[ids[0]].previous = ids[0];
		return;
	}

	PoemList[ids[0]] = {};
	PoemList[ids[0]].next = ids[1];
	PoemList[ids[0]].previous = ids[ids.length-1];

	PoemList[ids[ids.length-1]] = {};
	PoemList[ids[ids.length-1]].next = ids[0];
	PoemList[ids[ids.length-1]].previous = ids[ids.length-2];

}



//////////////////////////////
//
// displayMarkup --
//

function displayMarkup(id, target) {
	if (!target) {
		target = "#contents-markup";
	}

	let targetheader = "#contents-markup-header";
	
	
	let element = document.querySelector(target);
	if (!element) {
		console.log("Error: cannot place Poem markup on page.");
		return;
	}

   if (!id) {
		element.innerHTML = " no multiple variant view allowed ";
		return;
	}
	element.innerHTML = singlePoemMarkup(id);
	prepareDataLink(id);

	let lines = document.querySelectorAll("td.verse-text");
	console.warn("============== LINES", lines);
	let maxwidth = -100;
	for (let i=0; i<lines.length; i++) {
		let width = lines[i].offsetWidth;
		// let width = lines[i].getBoundingClientRect().width;
		// let cell = lines[i];
		// let width = cell.getBoundingClientRect().width - 
		// 	parseFloat(getComputedStyle(cell).paddingLeft) - 
		// 	parseFloat(getComputedStyle(cell).paddingRight) - 
		// 	parseFloat(getComputedStyle(cell).borderLeftWidth) - 
		// 	parseFloat(getComputedStyle(cell).borderRightWidth);
		if (maxwidth < width) {
			maxwidth = width;
		}
	}
	// +150 needed for some strange reason.
	maxwidth += 150;
	for (let i=0; i<lines.length; i++) {
		lines[i].style.minWidth = maxwidth + "px";
		console.warn("====== WIDTH", lines[i].style.minWidth);
	}

	element = document.querySelector(targetheader);
	if (!element) {
		console.log("Error: cannot place Poem markup header on page.");
		return;
	}
	element.innerHTML = singlePoemMarkupHeader(id);

	if (ShowAllOptions) {
		showAllOptions();
	}
	applyOptions();
}



//////////////////////////////
//
// prepareReverseVerse --
//

function prepareReverseVerse(vlist) {
	let output = {};
	for (let i=0; i<vlist.length; i++) {
		let id = vlist[i].CATALOGNUM;
		//if (id) {
		//	let iid = "Trm";
		//	if (id < 1000) { iid += "0"; }
		//	if (id < 100)  { iid += "0"; }
		//	if (id < 10)   { iid += "0"; }
		//	iid += id;
		//	output[iid] = vlist[i];
		//} else {
			id = vlist[i].CATALOGNUM;
			output[id] = vlist[i];
		//}
	}
	console.log("VLIST ", output);
	return output;
}


//////////////////////////////
//
// singlePoemMarkupHeader --
//

function singlePoemMarkupHeader(id) {
	let vlist = GetFlatVerseList();
	let REVERSEVERSE = prepareReverseVerse(vlist);
   REVERSEVERSE.id  = id;

	let hsource = document.querySelector("#about-header-template").textContent;
	let htemplate = Handlebars.compile(hsource);
	let output = htemplate(REVERSEVERSE[id]);

	return output;
}



function singlePoemMarkup(id) {
	let vlist = GetFlatVerseList();
	let REVERSEVERSE = prepareReverseVerse(vlist);
   REVERSEVERSE.id  = id;
	let asource = document.querySelector("#about-template").textContent;
	let atemplate = Handlebars.compile(asource);
	let output = atemplate(REVERSEVERSE[id]);
	return output;
}



//////////////////////////////
//
// prepareDataLink -- display links to ATON and TEI data for poem markup.
//

function prepareDataLink(id) {
	if (sessionStorage.markupList) {
		let markupList = JSON.parse(sessionStorage.markupList);
		finishPreparingDataLink(id, markupList);
	} else {
		let url = "https://raw.githubusercontent.com/TassoInMusicProject/tasso-poem-markup/main/data/index.txt";
		fetch(url)
			.then(response => response.text())
			.then(text => {
				let lines = text.split(/\r?\n/);
				sessionStorage.markupList = JSON.stringify(lines);
				finishPreparingDataLink(id, lines);
			})
			.catch(error => console.error("Error downloading markup list:", error));
	}
}


//////////////////////////////
//
// finishPreparingDataLink --
//


function finishPreparingDataLink(id, markupList) {
	let index = -1;
	for (let i=0; i<markupList.length; i++) {
		if (markupList[i] === id) {
			index = i;
			break;
		}
	}
	if (index < 0) {
		// No markupdata for this ID.
		return;
	}

	let target = document.querySelector("#dataLink");
	if (!target) {
		console.error("ERROR: Cannot find #dataLink");
		return;
	}

	let urlBase = "https://github.com/TassoInMusicProject/tasso-poem-markup/tree/main/data";
	let output = "Markup data: [ ";
	output += `<a target="_blank" href="${urlBase}/aton/${id}.aton">ATON</a>`;
	output += " | ";
	output += `<a target="_blank" href="${urlBase}/tei/${id}.tei">TEI</a>`;
	output += " ]";

	target.innerHTML = output;
}



//////////////////////////////
//
// displayTextareaContents --
//

function displayTextareaContents() {

	let data = {};
	data.VERSES = {};
	let textarea = document.querySelector("textarea");
	if (!textarea) {
		return;
	}
	data.VERSES.MVERSE = textarea.value;
	data.CATALOGNUM = "NONE";
	data.LAST_MODIFIED = "NONE";

	let asource = document.querySelector("#about-template").textContent;
	let atemplate = Handlebars.compile(asource);
	let output = atemplate(data);

	let element = document.querySelector("#contents-markup");
	if (element) {
		element.innerHTML = output;
	}

	applyOptions();
}


//////////////////////////////
//
// applyOptions --
//

function applyOptions() {

	let sylElement          = document.querySelector("#check-syllable");
	let stressElement       = document.querySelector("#check-stress");
	let metricStressElement = document.querySelector("#check-metric-stress");
	let rhymeElement        = document.querySelector("#check-rhyme");
	let enjambmentElement   = document.querySelector("#check-enjambment");
	let linenumElement      = document.querySelector("#check-linenum");

	if (!sylElement)          { return; }
	if (!stressElement)       { return; }
	if (!metricStressElement) { return; }
	if (!rhymeElement)        { return; }
	if (!enjambmentElement)   { return; }
	if (!linenumElement)      { return; }

	if (sylElement && sylElement.checked) {
		showSyllable();
	}
	if (stressElement && stressElement.checked) {
		showStress();
	}
	if (metricStressElement && metricStressElement.checked) {
		showMetricStress();
	}
	if (rhymeElement && rhymeElement.checked) {
		showRhyme();
	}
	if (enjambmentElement && enjambmentElement.checked) {
		showEnjambment();
	}
	if (linenumElement && linenumElement.checked) {
		showLinenum();
	}

}


//////////////////////////////
//
// toggleStress --
//

function toggleStress(event) {
	if (event.currentTarget.checked) {
		showStress();
	} else {
		hideStress();
	}
}



//////////////////////////////
//
// showStress --
//

function showStress() {
	console.log("Show stress");
	let syls = document.querySelectorAll(".stress");
	for (let i=0; i<syls.length; i++) {
		syls[i].classList.add("showStress");
	}
}



//////////////////////////////
//
// hideStress --
//

function hideStress() {
	console.log("Hide stress");
	let syls = document.querySelectorAll(".stress");
	for (let i=0; i<syls.length; i++) {
		syls[i].classList.remove("showStress");
	}
}



//////////////////////////////
//
// toggleMetricStress --
//

function toggleMetricStress(event) {
	if (event.currentTarget.checked) {
		showMetricStress();
	} else {
		hideMetricStress();
	}
}



//////////////////////////////
//
// showMetricStress --
//

function showMetricStress() {
	console.log("Show metric stress");
	let syls = document.querySelectorAll(".metricStress");
	for (let i=0; i<syls.length; i++) {
		syls[i].classList.add("showMetricStress");
	}
	let marks = document.querySelectorAll(".majmin");
	for (let i=0; i<marks.length; i++) {
		marks[i].classList.remove("hide-majmin");
	}
}



//////////////////////////////
//
// hideMetricStress --
//

function hideMetricStress() {
	console.log("Hide metric stress");
	let syls = document.querySelectorAll(".metricStress");
	for (let i=0; i<syls.length; i++) {
		syls[i].classList.remove("showMetricStress");
	}
	let marks = document.querySelectorAll(".majmin");
	for (let i=0; i<marks.length; i++) {
		marks[i].classList.add("hide-majmin");
	}
}



//////////////////////////////
//
// toggleSyllable --
//

function toggleSyllable(event) {
	if (event.currentTarget.checked) {
		showSyllable();
	} else {
		hideSyllable();
	}
}



//////////////////////////////
//
// showSyllable --
//

function showSyllable() {
	console.log("Show syllable");
	let syls = document.querySelectorAll(".syllable");
	for (let i=0; i<syls.length; i++) {
		syls[i].classList.add("showSyllable");
	}
	showSyllableCount();
	showElision();
}



//////////////////////////////
//
// hideSyllable --
//

function hideSyllable() {
	console.log("Hide syllable");
	let syls = document.querySelectorAll(".syllable");
	for (let i=0; i<syls.length; i++) {
		syls[i].classList.remove("showSyllable");
	}
	hideSyllableCount();
	hideElision();
}



//////////////////////////////
//
// toggleSyllableCount --
//

function toggleSyllableCount(event) {
	if (event.currentTarget.checked) {
		showSyllableCount();
	} else {
		hideSyllableCount();
	}
}



//////////////////////////////
//
// showSyllableCount --
//

function showSyllableCount() {
	console.log("Show syllable count");
	let syls = document.querySelectorAll("td.syllable-count");
	for (let i=0; i<syls.length; i++) {
		syls[i].classList.remove("hide-count");
	}
}



//////////////////////////////
//
// hideSyllableCount --
//

function hideSyllableCount() {
	console.log("Hide syllable count");
	let syls = document.querySelectorAll("td.syllable-count");
	for (let i=0; i<syls.length; i++) {
		syls[i].classList.add("hide-count");
	}
}




//////////////////////////////
//
// toggleRhyme --
//

function toggleRhyme(event) {
	if (event.currentTarget.checked) {
		showRhyme();
	} else {
		hideRhyme();
	}
}



//////////////////////////////
//
// showRhyme --
//

function showRhyme() {
	console.log("Show rhyme");
	let syls = document.querySelectorAll("span.rhyme");
	for (let i=0; i<syls.length; i++) {
		syls[i].classList.remove("hide-rhyme");
	}
}



//////////////////////////////
//
// hideRhyme --
//

function hideRhyme() {
	console.log("Hide rhyme");
	let syls = document.querySelectorAll("span.rhyme");
	for (let i=0; i<syls.length; i++) {
		syls[i].classList.add("hide-rhyme");
	}
}



//////////////////////////////
//
// toggleElision --
//

function toggleElision(event) {
	if (event.currentTarget.checked) {
		showElision();
	} else {
		hideElision();
	}
}



//////////////////////////////
//
// showElision --
//

function showElision() {
	console.log("Show elision");
	let syls = document.querySelectorAll("span.elision");
	for (let i=0; i<syls.length; i++) {
		syls[i].classList.remove("hide-elision");
	}
}



//////////////////////////////
//
// hideElision --
//

function hideElision() {
	console.log("Hide elision");
	let syls = document.querySelectorAll("span.elision");
	for (let i=0; i<syls.length; i++) {
		syls[i].classList.add("hide-elision");
	}
}





//////////////////////////////
//
// toggleEnjambment --
//

function toggleEnjambment(event) {
	if (event.currentTarget.checked) {
		showEnjambment();
	} else {
		hideEnjambment();
	}
}



//////////////////////////////
//
// showEnjambment --
//

function showEnjambment() {
	console.log("Show enjambment");
	let syls = document.querySelectorAll("span.enjambment");
	for (let i=0; i<syls.length; i++) {
		syls[i].classList.remove("hide-enjambment");
	}
}



//////////////////////////////
//
// hideEnjambment --
//

function hideEnjambment() {
	console.log("Hide enjambment");
	let syls = document.querySelectorAll("span.enjambment");
	for (let i=0; i<syls.length; i++) {
		syls[i].classList.add("hide-enjambment");
	}
}



//////////////////////////////
//
// toggleLinenum --
//

function toggleLinenum(event) {
	if (event.currentTarget.checked) {
		showLinenum();
	} else {
		hideLinenum();
	}
}



//////////////////////////////
//
// showLinenum --
//

function showLinenum() {
	console.log("Show Line Number");
	let syls = document.querySelectorAll(".linenum");
	for (let i=0; i<syls.length; i++) {
		syls[i].classList.add("show-linenum");
		syls[i].classList.remove("hide-linenum");
	}
}



//////////////////////////////
//
// hideLinenum --
//

function hideLinenum() {
	console.log("Hide Line Number");
	let syls = document.querySelectorAll(".linenum");
	for (let i=0; i<syls.length; i++) {
		syls[i].classList.remove("show-linenum");
		syls[i].classList.add("hide-linenum");
	}
}



//////////////////////////////
//
// toggleEditor --
//

function toggleEditor(event) {
	console.warn("TOGGLING EDITOR DISPLAY");
	Editor = !Editor;
	if (Editor) {
		showEditor();
	} else {
		hideEditor();
	}
}



//////////////////////////////
//
// showEditor --
//

function showEditor() {
	console.error("===================== Show editor");
	let element = document.querySelector("textarea");
	if (!element) {
		return;
	}
	element.style.display = "block";
}



//////////////////////////////
//
// hideEditor --
//

function hideEditor() {
	console.warn("===================== Hide editor");
	let element = document.querySelector("textarea");
	if (!element) {
		return;
	}
	element.style.display = "none";
	console.log("TEXTAREA", element);
}




//////////////////////////////
//
// toggleGrid --
//

function toggleGrid(event) {
	if (event.currentTarget.checked) {
		showGrid();
	} else {
		hideGrid();
	}
}



//////////////////////////////
//
// showGrid -- Not used, might need fixing otherwise.
//

function showGrid() {
	console.log("Show grid");
	let lines = document.querySelectorAll("tr.verse-line");
	let cells = [];
	maxlength = 0;
	for (let i=0; i<lines.length; i++) {
		cells[i] = lines[i].querySelectorAll("span.syllable");
		if (maxlength < cells[i].length) {
			maxlength = cells[i].length;
		}
	}

	let maxwidth = [];
	for (let i=0; i<maxlength; i++) {
		maxwidth[i] = 0;
	}

	for (let i=0; i<cells.length; i++) {
		for (let j=0; j<cells[i].length; j++) {
			let width = cells[i][j].offsetWidth;
			if (maxwidth[j] < width) {
				maxwidth[j] = width;
			}
		}
	}

	for (let i=0; i<cells.length; i++) {
		for (let j=0; j<cells[i].length; j++) {
			cells[i][j].style.width = `${maxwidth[j]}px`;
		}
	}

}



//////////////////////////////
//
// hideGrid --
//

function hideGrid() {
	console.log("Hide grid");
}





</script>



