
#contents {
	border-top-right-radius: 0px !important;
}


iframe {
	width:100%;
	height:1000px;
	padding:0;
	margin:0;
	border: 0;
}

.editor:hover {
	cursor: pointer;
}

.triangle {
	color: #96835c;
	margin:0;
	padding:0;
	cursor:pointer;
	font-size: 100%;
}


table.poem {
	margin-top: 50px;
	margin-left: 300px;
	font-size: 110%;
	margin-bottom: 100px;
}


.poem tr {
	vertical-align: top;
}


.poem td {
	padding-left: 50px;
	font-size: 90%;
	padding-right: 0px;
	padding-bottom: 3px;
}


.poem td.first-line {
	padding-left: 0px;
}


.manuscript {
	color: brown;
	font-weight: bold;
}


.print {
	color: goldenrod;
	font-weight: bold;
}


table.verse-line {
	font-size: 1.75rem;
	border-collapse: collapse;
}


td.verse-text {
	word-spacing: 6px;
	white-space: nowrap;
}

tr.verse-line:hover {
	background: #eee;
}

span.syllable {
	display: inline-block;
}

.linenum.show-linenum {
	color: #ccc !important;
}

.stress.showStress {
	font-weight: bold;
	color: #cc0000 !important;
	border-radius: 10px;
}

.metricStress.showMetricStress {
	font-weight: bold !important;
	color: #cc0000 !important;
	/* background: pink !important; */
	/* border-radius: 10px; */
	text-decoration: underline;
	display: inline-block;
}

span.syllable.beginning.showSyllable::after,
span.syllable.medial.showSyllable::after {
	content: "-";
	color: black;
	text-decoration: none !important;
	display: inline-block;
}

/* 
span.syllable.even.showSyllable {
	background-color: #ccffaa;
	border-radius: 10px;
}

span.syllable.odd.showSyllable {
	background-color: #cceeff;
	border-radius: 10px;
}
*/

/* temporary hiding of arrow button */

span.triangle, span.backward {
	display:none;

}


.infodata {
	line-height: 150%;
}

.indent {
/*
	margin-left: 75px;
	margin-right: 150px;
*/
	margin:0;
	padding:0;

}

.maincontent {
	margin-left: 50px;
	margin-right: 50px;
}


table.poem {
	width: 100%;
	margin-left:  -40px;
	margin-right: 10px;
}

.poem td {
	backgound-color: blue;
}

.htext {
	font-size: 80%;
	font-style: italic;
	margin-bottom: 20px;
}

.header {
	padding-bottom: 0;
	margin-bottom: 0;
}

.first-line {
	display: inline-block;
	padding-left: 0px;
	white-space: nowrap;
}

.other-line {
	display: inline-block;
	padding-left: 40px;
	white-space: nowrap;
}

td.syllable-count.hide-count {
	/* display: none; */
	visibility: hidden;
}

span.rhyme.hide-rhyme {
	display: none;
}

span.enjambment.hide-enjambment {
	display: none;
}

span.majmin.hide-majmin {
	display: none;
}

.linenum.hide-linenum {
	visibility: hidden;
}


.hidden {
	display: none;
}


td.syllable-count {
	padding-left: 30px;
}

td.verse-rhyme {
	padding-left: 30px;
}


td.tcell {
	padding-left: 70px;
	padding-top: 40px;
}

div.options {
	padding-left: 150px;
	margin-bottom: 50px;
	margin-top: 30px;
	font-size: 1.5rem;
}

textarea {
	width:90%;
	height:300px;
	margin-top:30px;
	font-size: 1.25rem;
}

span.rhyme, td.syllable-count {
	font-weight: bold;
}

span.hide-elision {
	visibility: hidden;
}


span.elision {
	display:inline-block;
	-webkit-transform:scale(0.4,1); /* Safari and Chrome */
	-moz-transform:scale(0.4,1); /* Firefox */
	-ms-transform:scale(0.4,1); /* IE 9 */
	-o-transform:scale(0.4,1); /* Opera */
	transform:scale(0.4,1); /* W3C */
	margin-left: -0.40rem;
	margin-right: -0.40rem;
	color: #999;
}



#dataLink {
	position: absolute;
	bottom: 0;
	padding: 10px;
}

#documentation-metric {
	display:block;
	padding-left: 150px;
}

#documentation-figures {
	display:block;
	padding-left: 175px;
}


.figure-RM-check { color: #FF4500D9; } /* OrangeRed */
.figure-IR-check { color: #32CD32D9; } /* LimeGreen */
.figure-AL-check { color: #FF6347D9; } /* Tomato */
.figure-AS-check { color: #FFD700D9; } /* Gold */
.figure-CO-check { color: #8B4513D9; } /* SaddleBrown */
.figure-AN-check { color: #B22222D9; } /* FireBrick */
.figure-EP-check { color: #9ACD32D9; } /* YellowGreen */
.figure-ON-check { color: #FFA07AD9; } /* LightSalmon */

.figure-CH-check { color: #87CEEBD9; } /* SkyBlue */
.figure-EN-check { color: #1E90FFD9; } /* DodgerBlue */
.figure-PA-check { color: #800080D9; } /* Purple */


.figure-RM { background-color: #FF450099; } /* OrangeRed */
.figure-IR { background-color: #32CD3299; } /* LimeGreen */
.figure-AL { background-color: #FF634799; } /* Tomato */
.figure-AS { background-color: #FFD70099; } /* Gold */
.figure-CO { background-color: #8B451399; } /* SaddleBrown */
.figure-AN { background-color: #B2222299; } /* FireBrick */
.figure-EP { background-color: #9ACD3299; } /* YellowGreen */
.figure-ON { background-color: #FFA07A99; } /* LightSalmon */

.figure-CH { background-color: #87CEEB99; } /* SkyBlue */
.figure-EN { background-color: #1E90FF99; } /* DodgerBlue */
.figure-PA { background-color: #80008099; } /* Purple */


.figure-RM, .figure-IR, .figure-AL, .figure-AS, .figure-CO, .figure-AN,
.figure-EP, .figure-ON, .figure-CH, .figure-EN, .figure-PA {
	color: black;
	border-radius: 5px;
	padding-left: 3px;
	padding-right: 3px;
}

.figure-RM.nested, .figure-IR.nested, .figure-AL.nested, .figure-AS.nested, .figure-CO.nested, .figure-AN.nested,
.figure-EP.nested, .figure-ON.nested, .figure-CH.nested, .figure-EN.nested, .figure-PA.nested {
	border-radius: 1px !important;
}
 
 


/* new ones: */

.figure-AT-check { color: white; background-color: black; }
.figure-PE-check { color: white; background-color: black; }
.figure-OX-check { color: white; background-color: black; }
.figure-PO-check { color: white; background-color: black; }
.figure-HY-check { color: white; background-color: black; }
.figure-AD-check { color: white; background-color: black; }
.figure-LT-check { color: white; background-color: black; }

.figure-AT { color: white; background-color: black; }
.figure-PE { color: white; background-color: black; }
.figure-OX { color: white; background-color: black; }
.figure-PO { color: white; background-color: black; }
.figure-HY { color: white; background-color: black; }
.figure-AD { color: white; background-color: black; }
.figure-LT { color: white; background-color: black; }

.figure-AT, .figure-PE, .figure-OX, .figure-PO, .figure-HY, .figure-AD,
.figure-LT {
	color: white;
	background-color: black;
	border-radius: 5px;
	padding-left: 3px;
	padding-right: 3px;
}
 

.figure-AT.nested, .figure-PE.nested, .figure-OX.nested, .figure-PO.nested, 
.figure-HY.nested, .figure-AD.nested, .figure-LT.nested {
	color: white;
	background-color: gray;
	border-radius: 1px;
	padding-left: 3px;
	padding-right: 3px;
}
 


