
<script src="/scripts/scripts-common.js"></script>

{% include_relative listeners.html %}
{% include_relative templates.html %}

<script>
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Thu Mar 24 21:40:22 PDT 2016
// Last Modified: Sat Sep 22 11:34:46 PDT 2018
// Filename:      tasso/scripts-local.html
// Web Address:   http://www.tassomusic.org/scripts-local.html
// Syntax:        JavaScript 1.8/ECMAScript 5
// vim:           ts=3: ft=javascript
//
// Description:   JavaScript management for the Tasso homepage.
//


var RWORKLIST = {};


////////////////////////////
//
// displayFrontPage --
//

function displayFrontPage() {
	PrepareGlobalTassoObjects();
console.log("GOT HERE OOO");
	if (CGI && CGI.c) {
		if (CGI.c === "gerusalemme") {
			displayGerusalemmeList("#contents");
		} else if (CGI.c === "aminta") {
			displayAmintaList("#contents");
		} else if (CGI.c === "other") {
			displayOtherList("#contents");
		} else {
			displayRimeList("#contents");
		}
	} else {
		displayRimeList("#contents");
	}
console.log("GOT HERE OOO");
}




//////////////////////////////
//
// displayRimeList -- Show the Rime list within the given
//     target element.
//

function displayRimeList(target) {
	if (!target) {
		target = "#contents";
	}
	var element = document.querySelector(target);
	if (!element) {
		console.log("Error: cannot place Rime list on page.");
		return;
	}

	var counter = 0;

	if (sessionStorage.WORKLIST) {
		WORKLIST = JSON.parse(sessionStorage.WORKLIST);
	   buildReverseWorklist();
		counter++;
	}

	if (!WORKLIST) {
		var request = new XMLHttpRequest();
		request.open("GET", "{{site.worklist}}");
		request.addEventListener("load", function() {
			WORKLIST = JSON.parse(this.responseText);
	      buildReverseWorklist();
			sessionStorage.WORKLIST = this.responseText;
			counter++;
			if (counter == 1) {
				continueProcessingRime(element, counter);
				counter++;
			}
		});
		request.send();
	}

	if (counter == 1) {
		continueProcessingRime(element);
		counter++;
	}
}



//////////////////////////////
//
// displayAmintaList -- Show the Aminta list within the given
//     target element.
//

function displayAmintaList(target) {
	if (!target) {
		target = "#contents";
	}
	var element = document.querySelector(target);
	if (!element) {
		console.log("Error: cannot place Aminta list on page.");
		return;
	}

	var counter = 0;

	if (sessionStorage.WORKLIST) {
		WORKLIST = JSON.parse(sessionStorage.WORKLIST);
	   buildReverseWorklist();
		counter++;
	} else {
		var request = new XMLHttpRequest();
		request.open("GET", "{{site.worklist}}");
		request.addEventListener("load", function() {
			WORKLIST = JSON.parse(this.responseText);
	      buildReverseWorklist();
			sessionStorage.WORKLIST = this.responseText;
			counter++;
			if (counter == 1) {
				continueProcessingAminta(element);
				counter++;
			}
		});
		request.send();
	}

	if (counter == 1) {
		continueProcessingAminta(element);
		counter++;
	}
}



//////////////////////////////
//
// displayOtherList -- Show the Other list within the given
//     target element.
//

function displayOtherList(target) {
	if (!target) {
		target = "#contents";
	}
	var element = document.querySelector(target);
	if (!element) {
		console.log("Error: cannot place Other list on page.");
		return;
	}

	var counter = 0;

	if (sessionStorage.OTHERLIST) {
		OTHERLIST = JSON.parse(sessionStorage.OTHERLIST);
		continueProcessingOther(element);
	} else {
		var request = new XMLHttpRequest();
		request.open("GET", "/data/indexes/other-settings.aton");
		request.addEventListener("load", function() {
			var aton = new ATON;
			OTHERLIST = aton.parse(this.responseText).SETTING;
			sessionStorage.OTHERLIST = JSON.stringify(OTHERLIST);
			continueProcessingOther(element);
		});
		request.send();
	}

	if (sessionStorage.WORKLIST) {
		WORKLIST = JSON.parse(sessionStorage.WORKLIST);
	   buildReverseWorklist();
		counter++;
	} else {
		var request = new XMLHttpRequest();
		request.open("GET", "{{site.worklist}}");
		request.addEventListener("load", function() {
			WORKLIST = JSON.parse(this.responseText);
	      buildReverseWorklist();
			sessionStorage.WORKLIST = this.responseText;
			counter++;
			if (counter == 2) {
				continueProcessingOther(element);
				counter++;
			}
		});
		request.send();
	}

	if (counter == 2) {
		continueProcessingOther(element);
		counter++;
	}
}



//////////////////////////////
//
// displayGerusalemmeList -- Show the Gerusalemme Liberata list within
//     the given target element.
//

function displayGerusalemmeList(target) {
	if (!target) {
		target = "#contents";
	}
	var element = document.querySelector(target);
	if (!element) {
		console.log("Error: cannot place Gerusalemme list on page.");
		return;
	}

	var counter = 0;

	if (sessionStorage.WORKLIST) {
		WORKLIST = JSON.parse(sessionStorage.WORKLIST);
	   buildReverseWorklist();
		counter++;
	} else {
		var request = new XMLHttpRequest();
		request.open("GET", "{{site.worklist}}");
		request.addEventListener("load", function() {
			WORKLIST = JSON.parse(this.responseText);
	      buildReverseWorklist();
			sessionStorage.WORKLIST = this.responseText;
			counter++;
			if (counter == 1) {
				continueProcessingGL(element);
				counter++;
			}
		});
		request.send();
	}

	if (counter == 1) {
		continueProcessingGL(element);
		counter++;
	}
}



//////////////////////////////
//
// showTab --
//

function showTab(hiid) {
	var rime   = document.querySelector("#rime-heading");
	var gl     = document.querySelector("#gl-heading");
	var aminta = document.querySelector("#aminta-heading");
	var other  = document.querySelector("#other-heading");

	rime.className   = hiid == "rime-heading"   ? "active" : "";
	gl.className     = hiid == "gl-heading"     ? "active" : "";
	aminta.className = hiid == "aminta-heading" ? "active" : "";
	other.className  = hiid == "other-heading"  ? "active" : "";
}



//////////////////////////////
//
// continueProcessingRime --
//

function continueProcessingRime(element) {
	var tsource = document.querySelector("#rime-template")
	                      .textContent;
	var rimeTemplate = Handlebars.compile(tsource);
	element.innerHTML = rimeTemplate(RIMEVERSELIST);
	showTab("rime-heading");
}



//////////////////////////////
//
// continueProcessingGL --
//

function continueProcessingGL(element) {
	var tsource = document.querySelector("#gerusalemme-template")
	                      .textContent;
	var gerusalemmeTemplate = Handlebars.compile(tsource);
	var cantolist = makeCantoList(GERUSETTINGLIST);
	element.innerHTML = gerusalemmeTemplate(cantolist);
	showTab("gl-heading");
}



//////////////////////////////
//
// makeCantoList --
//

function makeCantoList(gllist) {
	var output = {};
	var data = output;
	for (var i=0; i<gllist.length; i++) {
		var key = gllist[i].CATALOGNUM.replace(/[a-z]$/, "");
		data[key] = {};
		data[key].gtitle = gllist[i].TITLE;
		data[key].canto  = gllist[i].CANTO;
		data[key].ottava = gllist[i].OTTAVA;
		data[key].catalogbase = key;
	}
	// Should already be sorted, but maybe sort here by Canto/Ottava
	// as stored in catalog number.
	return output;
}



//////////////////////////////
//
// makeConquistataList --
//

function makeConquistataList(gllist) {
	var output = {};
	var data = output;

	if (!gllist.length) {
		gllist = [gllist];
	}
	for (var i=0; i<gllist.length; i++) {
		var key = gllist[i].CATALOGNUM.replace(/[a-z]$/, "");
		data[key] = {};
		data[key].ctitle = gllist[i].TITLE;
		data[key].canto  = gllist[i].CANTO;
		data[key].ottava = gllist[i].OTTAVA;
		data[key].catalogbase = key;
	}
	// Should already be sorted, but maybe sort here by Canto/Ottava
	// as stored in catalog number.
	return output;
}



/////////////////////////////
//
// makeEclogheList --
//

function makeEclogheList(elist) {
	var output = {};
	var data = output;
	for (var i=0; i<elist.length; i++) {
		var key = elist[i].CATALOGNUM.replace(/[a-z]$/, "");
		data[key] = {};
		data[key].etitle = elist[i].TITLE;
		data[key].ecloga = elist[i].ECLOGA;
		data[key].verse  = elist[i].VERSE;
		data[key].catalogbase = key;
	}
	// Should already be sorted, but maybe sort here by verse number.
	// as stored in catalog number.
	return output;
}



/////////////////////////////
//
// makeRinaldoList --
//

function makeRinaldoList(rlist) {
	var output = {};
	var data = output;
	for (var i=0; i<rlist.length; i++) {
		var key = rlist[i].CATALOGNUM.replace(/[a-z]$/, "");
		data[key] = {};
		data[key].rtitle = rlist[i].TITLE;
		data[key].canto  = rlist[i].CANTO;
		data[key].ottava = rlist[i].OTTAVA;
		data[key].catalogbase = key;
	}
	// Should already be sorted, but maybe sort here by verse number.
	// as stored in catalog number.
	return output;
}



/////////////////////////////
//
// makeLagrimeList --
//

function makeLagrimeList(lentry) {
	// var llist = [lentry];
	var llist = lentry;
	var output = {};
	var data = output;
	for (var i=0; i<llist.length; i++) {
		var key = llist[i].CATALOGNUM.replace(/[a-z]$/, "");
		data[key] = {};
		data[key].ltitle = llist[i].TITLE;
		data[key].stanza = llist[i].STANZA;
		data[key].catalogbase = key;
	}
	// Should already be sorted, but maybe sort here by verse number.
	// as stored in catalog number.
	return output;
}



/////////////////////////////
//
// makeTorrisomondoList --
//

function makeTorrismondoList(lentry) {
	var llist = lentry;
	// var llist = [lentry];
	var output = {};
	var data = output;
	for (var i=0; i<llist.length; i++) {
		var key = llist[i].CATALOGNUM.replace(/[a-z]$/, "");
		data[key] = {};
		data[key].ttitle  = llist[i].TITLE;
		data[key].act     = llist[i].ACT;
		data[key].scene   = llist[i].SCENE;
		data[key].section = llist[i].SECTION;
		data[key].catalogbase = key;
	}
	// Should already be sorted, but maybe sort here by verse number.
	// as stored in catalog number.
	return output;
}



//////////////////////////////
//
// makeAmintaVerseList --
//

function makeAmintaVerseList(amlist) {
	var output = {};
	var data = output;
	for (var i=0; i<amlist.length; i++) {
		var key = amlist[i].CATALOGNUM.replace(/[a-z]$/, "");
		data[key] = {};
		data[key].atitle = amlist[i].TITLE;
		data[key].act = amlist[i].ACT;
		data[key].scene = amlist[i].SCENE;
		data[key].verse = amlist[i].VERSE;
		data[key].catalogbase = key;
	}
	// Should already be sorted, but maybe sort here by verse number.
	// as stored in catalog number.
	return output;
}



//////////////////////////////
//
// continueProcessingAminta --
//

function continueProcessingAminta(element) {
	var tsource = document.querySelector("#aminta-template")
	                      .textContent;
	var amintaTemplate = Handlebars.compile(tsource);
	var amintalist = makeAmintaVerseList(AMINTASETTINGLIST);
	element.innerHTML = amintaTemplate(amintalist);
	showTab("aminta-heading");
}



//////////////////////////////
//
// continueProcessingOther --
//

function continueProcessingOther(element) {
	var csource = document.querySelector("#conquistata-template").textContent;
	var esource = document.querySelector("#ecloghe-template").textContent;
	var rsource = document.querySelector("#rinaldo-template").textContent;
	var lsource = document.querySelector("#lagrime-template").textContent;
	var tsource = document.querySelector("#torrismondo-template").textContent;

	var conquistataTemplate = Handlebars.compile(csource);
	var eclogheTemplate = Handlebars.compile(esource);
	var rinaldoTemplate = Handlebars.compile(rsource);
	var lagrimeTemplate = Handlebars.compile(lsource);
	var torrismondoTemplate = Handlebars.compile(tsource);

	var otherlist = OTHERLIST;
	var conquistatalist = [];
	var ecloghelist = [];
	var rinaldolist = [];
	var lagrimelist = [];
	var torrismondolist = [];

	for (var k=0; k<OTHERLIST.length; k++) {
		if (!OTHERLIST[k].GROUP) {
			console.log("PROBLEM WITH SETTING", OTHERLIST[k]);
			continue;
		}
		if (OTHERLIST[k].GROUP.match(/conquistata/i)) {
			// @GROUP: Gerusalemme conquistata
			conquistatalist.push(OTHERLIST[k]);
		}
		else if (OTHERLIST[k].GROUP.match(/ecloghe/i)) {
			// @GROUP: Ecloghe settings
			ecloghelist.push(OTHERLIST[k]);
		}
		else if (OTHERLIST[k].GROUP.match(/rinaldo/i)) {
			// @GROUP: Rinaldo settings
			rinaldolist.push(OTHERLIST[k]);
		}
		else if (OTHERLIST[k].GROUP.match(/lagrime/i)) {
			// @GROUP: Lagrime della Beata Vergine settings
			lagrimelist.push(OTHERLIST[k]);
		}
		else if (OTHERLIST[k].GROUP.match(/torrismondo/i)) {
			// @GROUP: Re Torrismondo settings
			torrismondolist.push(OTHERLIST[k]);
		}
	}

	conquistatalist = makeConquistataList(conquistatalist);
	ecloghelist = makeEclogheList(ecloghelist);
	rinaldolist = makeRinaldoList(rinaldolist);
	lagrimelist = makeLagrimeList(lagrimelist);
	torrismondolist = makeTorrismondoList(torrismondolist);

	var output = "<h2 style='margin-left:100px'>Ecloghe</h2>";
	output += eclogheTemplate(ecloghelist);
	output += "<h2 style='margin-top:-80px; margin-left:100px'>Rinaldo</h2>";
	output += rinaldoTemplate(rinaldolist);
	output += "<h2 style='margin-top:-80px; margin-left:100px'>Lagrime della Beata Vergine</h2>";
	output += lagrimeTemplate(lagrimelist);
	output += "<h2 style='margin-top:-80px; margin-left:100px'>Re Torrismondo</h2>";
	output += torrismondoTemplate(torrismondolist);
	output += "<h2 style='margin-top:-80px; margin-left:100px'>Gerusalemme conquistata</h2>";
	output += conquistataTemplate(conquistatalist);
	element.innerHTML = output;
	showTab("other-heading");
}



//////////////////////////////
//
// buildReveseWorklist --
//

function buildReverseWorklist() {
	RWORKLIST = {};
	var wl = WORKLIST[0].works;
	var rime;
	for (var i in wl) {
		if (!RWORKLIST[wl[i].id]) {
		   RWORKLIST[wl[i].id] = 0;
		}
		RWORKLIST[wl[i].id] += 1;
		rime = wl[i].id.replace(/[a-z]+$/, "");
		if (!RWORKLIST[rime]) {
			RWORKLIST[rime] = 0;
		}
		RWORKLIST[rime] += 1;
	}
}



//////////////////////////////
//
// show --
//

function show(element) {
	var item = element.querySelector("table");
	item.style.visibility = "visible";
}



//////////////////////////////
//
// hide --
//

function hide(element) {
	var item = element.querySelector("table");
	item.style.visibility = "hidden";
}



//////////////////////////////
//
// sortByText --
//

function sortByText(index) {
	var data = document.querySelectorAll(".data");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A = a.cells[index].innerHTML;
		var B = b.cells[index].innerHTML;
		var result = A.localeCompare(B);
		return result;
	});
	var body = document.querySelector("table.poem-list tbody");
	body.innerHTML = "";
	for (i=0; i<datalist.length; i++) {
		body.appendChild(datalist[i]);
	}
}



//////////////////////////////
//
// sortByGenre --
//

function sortByGenre(index) {
	var data = document.querySelectorAll(".data");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A = a.cells[index].querySelector(".genre").textContent;
		var B = b.cells[index].querySelector(".genre").textContent;
		var result = A.localeCompare(B);
		return result;
	});
	var body = document.querySelector("table.poem-list tbody");
	body.innerHTML = "";
	for (i=0; i<datalist.length; i++) {
		body.appendChild(datalist[i]);
	}
}



//////////////////////////////
//
// sortByNumber --
//

function sortByNumber(index) {
	var data = document.querySelectorAll(".data");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A;
		var B;
		if (a.cells[index].textContent.match(/^\s*\d/)) {
			A = parseInt(a.cells[index].innerHTML);
		} else {
			return +1;
			A = a.cells[index].textContent;
		}
		if (b.cells[index].textContent.match(/^\s*\d/)) {
			B = parseInt(b.cells[index].innerHTML);
		} else {
			return -1;
			B = b.cells[index].textContent;
		}
		if (A < B)      { return -1 }
		else if (A > B) { return +1 }
		else            { return 0  }
	});
	var body = document.querySelector("table.poem-list tbody");
	body.innerHTML = "";
	for (i=0; i<datalist.length; i++) {
		body.appendChild(datalist[i]);
	}
}


</script>

