
<script src="/scripts/scripts-common.js"></script>

{% include_relative listeners.html %}
{% include_relative templates.html %}

<script>
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Thu Mar 24 21:40:22 PDT 2016
// Last Modified: Sat Sep 22 11:34:46 PDT 2018
// Filename:      tasso/scripts-local.html
// Web Address:   https://www.tassomusic.org/scripts-local.html
// Syntax:        JavaScript 1.8/ECMAScript 5
// vim:           ts=3: ft=javascript
//
// Description:   JavaScript management for the Tasso homepage.
//


var RWORKLIST = {};


////////////////////////////
//
// displayFrontPage --
//

function displayFrontPage() {
	PrepareGlobalTassoObjects();
	buildReverseWorklist();
	if (CGI && CGI.c) {
		if (CGI.c === "gerusalemme") {
			displayGerusalemmeList("#contents");
		} else if (CGI.c === "aminta") {
			displayAmintaList("#contents");
		} else if (CGI.c === "other") {
			displayOtherList("#contents");
		} else {
			displayRimeList("#contents");
		}
	} else {
		displayRimeList("#contents");
	}
}




//////////////////////////////
//
// displayRimeList -- Show the Rime list within the given
//     target element.
//

function displayRimeList(target) {
	if (!target) {
		target = "#contents";
	}
	var element = document.querySelector(target);
	if (!element) {
		console.log("Error: cannot place Rime list on page.");
		return;
	}
	continueProcessingRime(element);
}



//////////////////////////////
//
// displayAmintaList -- Show the Aminta list within the given
//     target element.
//

function displayAmintaList(target) {
	if (!target) {
		target = "#contents";
	}
	var element = document.querySelector(target);
	if (!element) {
		console.log("Error: cannot place Aminta list on page.");
		return;
	}
	continueProcessingAminta(element);
}



//////////////////////////////
//
// displayOtherList -- Show the Other list within the given
//     target element.
//

function displayOtherList(target) {
	if (!target) {
		target = "#contents";
	}
	var element = document.querySelector(target);
	if (!element) {
		console.log("Error: cannot place Other list on page.");
		return;
	}
	continueProcessingOther(element);
}



//////////////////////////////
//
// displayGerusalemmeList -- Show the Gerusalemme Liberata list within
//     the given target element.
//

function displayGerusalemmeList(target) {
	if (!target) {
		target = "#contents";
	}
	var element = document.querySelector(target);
	if (!element) {
		console.log("Error: cannot place Gerusalemme list on page.");
		return;
	}
	continueProcessingGL(element);
}



//////////////////////////////
//
// showTab --
//

function showTab(hiid) {
	var rime   = document.querySelector("#rime-heading");
	var gl     = document.querySelector("#gl-heading");
	var aminta = document.querySelector("#aminta-heading");
	var other  = document.querySelector("#other-heading");

	rime.className   = hiid == "rime-heading"   ? "active" : "";
	gl.className     = hiid == "gl-heading"     ? "active" : "";
	aminta.className = hiid == "aminta-heading" ? "active" : "";
	other.className  = hiid == "other-heading"  ? "active" : "";
}



//////////////////////////////
//
// continueProcessingRime --
//

function continueProcessingRime(element) {
	var tsource = document.querySelector("#rime-template")
	                      .textContent;
	var rimeTemplate = Handlebars.compile(tsource);
	element.innerHTML = rimeTemplate(RIMEVERSELIST);
	showTab("rime-heading");
}



//////////////////////////////
//
// continueProcessingGL --
//

function continueProcessingGL(element) {
	var tsource = document.querySelector("#gerusalemme-template")
	                      .textContent;
	var gerusalemmeTemplate = Handlebars.compile(tsource);
	var cantolist = makeCantoList(GERUSETTINGLIST);
	element.innerHTML = gerusalemmeTemplate(cantolist);
	showTab("gl-heading");
}



//////////////////////////////
//
// makeCantoList --
//

function makeCantoList(gllist) {
	var output = {};
	var data = output;
	for (var i=0; i<gllist.length; i++) {
		var key = gllist[i].CATALOGNUM.replace(/[a-z]$/, "");
		data[key] = {};
		data[key].gtitle = gllist[i].TITLE;
		data[key].canto  = gllist[i].CANTO;
		data[key].ottava = gllist[i].OTTAVA;
		data[key].catalogbase = key;
	}
	// Should already be sorted, but maybe sort here by Canto/Ottava
	// as stored in catalog number.
	return output;
}



//////////////////////////////
//
// makeConquistataList --
//

function makeConquistataList(gllist) {
	var output = {};
	var data = output;

	if (!gllist.length) {
		gllist = [gllist];
	}
	for (var i=0; i<gllist.length; i++) {
		var key = gllist[i].CATALOGNUM.replace(/[a-z]$/, "");
		data[key] = {};
		data[key].ctitle = gllist[i].TITLE;
		data[key].canto  = gllist[i].CANTO;
		data[key].ottava = gllist[i].OTTAVA;
		data[key].catalogbase = key;
	}
	// Should already be sorted, but maybe sort here by Canto/Ottava
	// as stored in catalog number.
	return output;
}



/////////////////////////////
//
// makeEclogheList --
//

function makeEclogheList(elist) {
	var output = {};
	var data = output;
	for (var i=0; i<elist.length; i++) {
		var key = elist[i].CATALOGNUM.replace(/[a-z]$/, "");
		data[key] = {};
		data[key].etitle = elist[i].TITLE;
		data[key].ecloga = elist[i].ECLOGA;
		data[key].verse  = elist[i].VERSE;
		data[key].catalogbase = key;
	}
	// Should already be sorted, but maybe sort here by verse number.
	// as stored in catalog number.
	return output;
}



/////////////////////////////
//
// makeRinaldoList --
//

function makeRinaldoList(rlist) {
	var output = {};
	var data = output;
	for (var i=0; i<rlist.length; i++) {
		var key = rlist[i].CATALOGNUM.replace(/[a-z]$/, "");
		data[key] = {};
		data[key].rtitle = rlist[i].TITLE;
		data[key].canto  = rlist[i].CANTO;
		data[key].ottava = rlist[i].OTTAVA;
		data[key].catalogbase = key;
	}
	// Should already be sorted, but maybe sort here by verse number.
	// as stored in catalog number.
	return output;
}



/////////////////////////////
//
// makeLagrimeList --
//

function makeLagrimeList(lentry) {
	// var llist = [lentry];
	var llist = lentry;
	var output = {};
	var data = output;
	for (var i=0; i<llist.length; i++) {
		var key = llist[i].CATALOGNUM.replace(/[a-z]$/, "");
		data[key] = {};
		data[key].ltitle = llist[i].TITLE;
		data[key].stanza = llist[i].STANZA;
		data[key].catalogbase = key;
	}
	// Should already be sorted, but maybe sort here by verse number.
	// as stored in catalog number.
	return output;
}



/////////////////////////////
//
// makeTorrisomondoList --
//

function makeTorrismondoList(lentry) {
	var llist = lentry;
	// var llist = [lentry];
	var output = {};
	var data = output;
	for (var i=0; i<llist.length; i++) {
		var key = llist[i].CATALOGNUM.replace(/[a-z]$/, "");
		data[key] = {};
		data[key].ttitle  = llist[i].TITLE;
		data[key].act     = llist[i].ACT;
		data[key].scene   = llist[i].SCENE;
		data[key].section = llist[i].SECTION;
		data[key].catalogbase = key;
	}
	// Should already be sorted, but maybe sort here by verse number.
	// as stored in catalog number.
	return output;
}



//////////////////////////////
//
// makeAmintaVerseList --
//

function makeAmintaVerseList(amlist) {
	var output = {};
	var data = output;
	for (var i=0; i<amlist.length; i++) {
		var key = amlist[i].CATALOGNUM.replace(/[a-z]$/, "");
		data[key] = {};
		data[key].atitle = amlist[i].TITLE;
		data[key].act = amlist[i].ACT;
		data[key].scene = amlist[i].SCENE;
		data[key].verse = amlist[i].VERSE;
		data[key].catalogbase = key;
	}
	// Should already be sorted, but maybe sort here by verse number.
	// as stored in catalog number.
	return output;
}



//////////////////////////////
//
// continueProcessingAminta --
//

function continueProcessingAminta(element) {
	var tsource = document.querySelector("#aminta-template")
	                      .textContent;
	var amintaTemplate = Handlebars.compile(tsource);
	var amintalist = makeAmintaVerseList(AMINTASETTINGLIST);
	element.innerHTML = amintaTemplate(amintalist);
	showTab("aminta-heading");
}



//////////////////////////////
//
// continueProcessingOther --
//

function continueProcessingOther(element) {
	var csource = document.querySelector("#conquistata-template").textContent;
	var esource = document.querySelector("#ecloghe-template").textContent;
	var rsource = document.querySelector("#rinaldo-template").textContent;
	var lsource = document.querySelector("#lagrime-template").textContent;
	var tsource = document.querySelector("#torrismondo-template").textContent;

	var conquistataTemplate = Handlebars.compile(csource);
	var eclogheTemplate = Handlebars.compile(esource);
	var rinaldoTemplate = Handlebars.compile(rsource);
	var lagrimeTemplate = Handlebars.compile(lsource);
	var torrismondoTemplate = Handlebars.compile(tsource);

	var otherlist = OTHERSETTINGLIST;
	var conquistatalist = [];
	var ecloghelist = [];
	var rinaldolist = [];
	var lagrimelist = [];
	var torrismondolist = [];

	for (var k=0; k<OTHERSETTINGLIST.length; k++) {
		if (!OTHERSETTINGLIST[k].GROUP) {
			console.log("PROBLEM WITH SETTING", OTHERSETTINGLIST[k]);
			continue;
		}
		if (OTHERSETTINGLIST[k].GROUP.match(/conquistata/i)) {
			// @GROUP: Gerusalemme conquistata
			conquistatalist.push(OTHERSETTINGLIST[k]);
		}
		else if (OTHERSETTINGLIST[k].GROUP.match(/ecloghe/i)) {
			// @GROUP: Ecloghe settings
			ecloghelist.push(OTHERSETTINGLIST[k]);
		}
		else if (OTHERSETTINGLIST[k].GROUP.match(/rinaldo/i)) {
			// @GROUP: Rinaldo settings
			rinaldolist.push(OTHERSETTINGLIST[k]);
		}
		else if (OTHERSETTINGLIST[k].GROUP.match(/lagrime/i)) {
			// @GROUP: Lagrime della Beata Vergine settings
			lagrimelist.push(OTHERSETTINGLIST[k]);
		}
		else if (OTHERSETTINGLIST[k].GROUP.match(/torrismondo/i)) {
			// @GROUP: Re Torrismondo settings
			torrismondolist.push(OTHERSETTINGLIST[k]);
		}
	}

	conquistatalist = makeConquistataList(conquistatalist);
	ecloghelist = makeEclogheList(ecloghelist);
	rinaldolist = makeRinaldoList(rinaldolist);
	lagrimelist = makeLagrimeList(lagrimelist);
	torrismondolist = makeTorrismondoList(torrismondolist);

	var output = "";
	output += '<div style="text-align:center; color:#bbb; font-style: italic;">';
	output += 'N.B.: dark text indicates editions of one or more musical settings are now available.';
	output += '</div>';
	output = "";

	output += "<h2 style='margin-left:100px'>Ecloghe</h2>";
	output += eclogheTemplate(ecloghelist);
	output += "<h2 style='margin-top:-80px; margin-left:100px'>Rinaldo</h2>";
	output += rinaldoTemplate(rinaldolist);
	output += "<h2 style='margin-top:-80px; margin-left:100px'>Lagrime della Beata Vergine</h2>";
	output += lagrimeTemplate(lagrimelist);
	output += "<h2 style='margin-top:-80px; margin-left:100px'>Re Torrismondo</h2>";
	output += torrismondoTemplate(torrismondolist);
	output += "<h2 style='margin-top:-80px; margin-left:100px'>Gerusalemme conquistata</h2>";
	output += conquistataTemplate(conquistatalist);
	element.innerHTML = output;
	showTab("other-heading");
}



//////////////////////////////
//
// buildReveseWorklist --
//

function buildReverseWorklist() {
console.log("BUILDING REVERSE WORKLIST");
	RWORKLIST = {};
	var wl = TASSODATA.SCORES.SCOREDATA;
	var rime;
	for (var i in wl) {
		if (!RWORKLIST[wl[i].CATALOGNUM]) {
		   RWORKLIST[wl[i].CATALOGNUM] = 0;
		}
		RWORKLIST[wl[i].CATALOGNUM] += 1;
		rime = wl[i].CATALOGNUM.replace(/[a-z]+$/, "");
		if (!RWORKLIST[rime]) {
			RWORKLIST[rime] = 0;
		}
		RWORKLIST[rime] += 1;
	}
}

//
// Old function used worklist.json, which is being retired:
//

function buildReverseWorklistOld() {
	RWORKLIST = {};
	var wl = WORKLIST[0].works;
	var rime;
	for (var i in wl) {
		if (!RWORKLIST[wl[i].id]) {
		   RWORKLIST[wl[i].id] = 0;
		}
		RWORKLIST[wl[i].id] += 1;
		rime = wl[i].id.replace(/[a-z]+$/, "");
		if (!RWORKLIST[rime]) {
			RWORKLIST[rime] = 0;
		}
		RWORKLIST[rime] += 1;
	}
}



//////////////////////////////
//
// show --
//

function show(element) {
	var item = element.querySelector("table");
	item.style.visibility = "visible";
}



//////////////////////////////
//
// hide --
//

function hide(element) {
	var item = element.querySelector("table");
	item.style.visibility = "hidden";
}



//////////////////////////////
//
// sortByText --
//

function sortByText(index) {
	var data = document.querySelectorAll(".data");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A = a.cells[index].textContent.replace(/["']/g, "");
		var B = b.cells[index].textContent.replace(/["']/g, "");

		var result = A.localeCompare(B);
		return result;
	});
	var body = document.querySelector("table.poem-list tbody");
	body.innerHTML = "";
	for (i=0; i<datalist.length; i++) {
		body.appendChild(datalist[i]);
	}
}



//////////////////////////////
//
// sortByGenre --
//

function sortByGenre(index) {
	var data = document.querySelectorAll(".data");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A = a.cells[index].querySelector(".genre").textContent.replace(/["']/g, "");
		var B = b.cells[index].querySelector(".genre").textContent.replace(/["']/g, "");
		var result = A.localeCompare(B);
		return result;
	});
	var body = document.querySelector("table.poem-list tbody");
	body.innerHTML = "";
	for (i=0; i<datalist.length; i++) {
		body.appendChild(datalist[i]);
	}
}



//////////////////////////////
//
// sortByCantoOttava -- Used in the Gerusalemme tab
//

function sortByCantoOttava() {
	var index = 0;
	var data = document.querySelectorAll(".data");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A = a.cells[index].textContent.trim().replace(/\s+/g, " ");
		var B = b.cells[index].textContent.trim().replace(/\s+/g, " ");
		var Aroman;
		var Aindic;
		var Broman;
		var Bindic;

		var matches = A.match(/^([XVI]+)\s*([\d]+)/);
		if (matches) {
			Aroman = convertToIndic(matches[1]);
			Aindic = parseInt(matches[2]);
	 	} else {
			Aroman = 9999;
			Aindic = 9999;
		}

		matches = B.match(/^([XVI]+)\s*([\d]+)/);
		if (matches) {
			Broman = convertToIndic(matches[1]);
			Bindic = parseInt(matches[2]);
	 	} else {
			Broman = 9999;
			Bindic = 9999;
		}

		if (Aroman < Broman) { return -1 }
		if (Aroman > Broman) { return +1 }
		if (Aindic < Bindic) { return -1 }
		if (Aindic > Bindic) { return +1 }
		return 0;

	});
	var body = document.querySelector("table.poem-list tbody");
	body.innerHTML = "";
	for (i=0; i<datalist.length; i++) {
		body.appendChild(datalist[i]);
	}
}



//////////////////////////////
//
// sortByActSceneVerse -- Used on the Aminta tab.
//

function sortByActSceneVerse() {
	var index = 0;
	var data = document.querySelectorAll(".data");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A = a.cells[index].textContent.trim().replace(/\s+/g, " ");
		var B = b.cells[index].textContent.trim().replace(/\s+/g, " ");
		var Aact;
		var Ascene;
		var Averse;
		var Bact;
		var Bscene;
		var Bverse;

		var matches = A.match(/^([XVI]+)\s*(\d+)\s+(\d+)/);
		if (matches) {
			Aact = convertToIndic(matches[1]);
			Ascene = parseInt(matches[2]);
			Averse = parseInt(matches[3]);
	 	} else {
			Aact = 9999;
			Ascene = 9999;
			Averse = 9999;
		}

		matches = B.match(/^([XVI]+)\s*(\d+)\s+(\d+)/);
		if (matches) {
			Bact = convertToIndic(matches[1]);
			Bscene = parseInt(matches[2]);
			Bverse = parseInt(matches[3]);
	 	} else {
			Bact = 9999;
			Bscene = 9999;
			Bverse = 9999;
		}

		if (Aact < Bact) { return -1 }
		if (Aact > Bact) { return +1 }
		if (Ascene < Bscene) { return -1 }
		if (Ascene > Bscene) { return +1 }
		if (Averse < Bverse) { return -1 }
		if (Averse > Bverse) { return +1 }
		return 0;

	});
	var body = document.querySelector("table.poem-list tbody");
	body.innerHTML = "";
	for (i=0; i<datalist.length; i++) {
		body.appendChild(datalist[i]);
	}
}



//////////////////////////////
//
// convertToIndic -- Roman number to indic.  Using simple algorithm for now.
//    Uppercase presumed.
//

function convertToIndic(value) {
	if (value === "I") { return 1; }
	if (value === "II") { return 2; }
	if (value === "III") { return 3; }
	if (value === "IV") { return 4; }
	if (value === "V") { return 5; }
	if (value === "VI") { return 6; }
	if (value === "VII") { return 7; }
	if (value === "VIII") { return 8; }
	if (value === "IX") { return 9; }
	if (value === "X") { return 10; }
	if (value === "XI") { return 11; }
	if (value === "XII") { return 12; }
	if (value === "XIII") { return 13; }
	if (value === "XIV") { return 14; }
	if (value === "XV") { return 15; }
	if (value === "XVI") { return 16; }
	if (value === "XVII") { return 17; }
	if (value === "XVIII") { return 18; }
	if (value === "XIX") { return 19; }
	if (value === "XX") { return 20; }
}



//////////////////////////////
//
// sortByNumber --
//

function sortByNumber(index) {
console.log("SORTING BY NUMBER", index);
	var data = document.querySelectorAll(".data");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A = a.cells[index].textContent.replace(/[^NSM\d]/g, "");
		var B = b.cells[index].textContent.replace(/[^NSM\d]/g, "");

		if (A.match(/NSM/)) {
			A = 99999;
		} else if (!A) {
			A = 0;
		}

		if (B.match(/NSM/)) {
			B = 99999;
		} else if (!B) {
			B = 0;
		}

		A = parseInt(A);
		B = parseInt(B);

		if (A < B)      { return -1 }
		else if (A > B) { return +1 }
		else            { return 0  }
	});
	var body = document.querySelector("table.poem-list tbody");
	body.innerHTML = "";
	for (i=0; i<datalist.length; i++) {
		body.appendChild(datalist[i]);
	}
}


</script>

