
{% include_relative templates.html %}
{% include_relative listeners.html %}

<script src="/scripts/scripts-common.js"></script>

<script>
// vim: ts=3

var RWORKLIST;



//////////////////////////////
//
// doSearch --
// 

function doSearch() {
	var pitch = document.getElementById("pitch");
	var pquery = pitch.value;

	var interval = document.getElementById("interval");
	var iquery = interval.value;

	var rhythm = document.getElementById("rhythm");
	var rquery = rhythm.value;

	if (
			pquery.match(/^\s*$/) &&
			iquery.match(/^\s*$/) &&
			rquery.match(/^\s*$/)
			) {
		var results = document.querySelector("#results");
		var summary = document.querySelector("#summary");
		results.textContent = "";
		summary.textContent = "";
		return;
	}

	var url = "http://josquin.stanford.edu/cgi-bin/tasso?";
	url += "pitch="     + pquery;
	url += "&interval=" + iquery;
	url += "&rhythm="   + rquery;


	var request = new XMLHttpRequest();
	request.onreadystatechange = function() {
		if (request.readyState == XMLHttpRequest.DONE) {
			displayResults(request.responseText, {pquery: pquery, iquery: iquery, rquery: rquery});
		} else if (request.status == 400) {
			console.log("THERE WAS AN ERROR IN THE SEARCH");
		} else {
			console.log("STATUS =", request.status);
		}
	};
	request.open("GET", url);
	request.send();
}



//////////////////////////////
//
// displayResults
//

function displayResults(results, options) {
	var r = JSON.parse(results);
	// console.log("R", r);
	// console.log("OPTIONS", options);

	var results = document.querySelector("#results");
	var summary = document.querySelector("#summary");

	var stext = "";
	if (r.matchcount == 0) {
		summary.innerHTML = "<span style='color:red;'>no matches</span>";
		results.innerHTML = "";
		return;
	} else {
		stext += r.matchcount;
		if (r.matchcount == 1) {
			stext += " match in "
		} else {
			stext += " matches in "
		}
		stext += r.locations.length;
		if (r.movementcount == 1) {
			stext += " work:";
		} else {
			stext += " works:";
		}
	}
	summary.innerHTML = stext;

	var rtable = "<table>";
	rtable += "<tr>";
	rtable += "<th style='width:70px;'>count</th>";
	rtable += "<th>composer</th>";
	rtable += "<th>work</th>";
	rtable += "</tr>";
	for (var i=0; i<r.locations.length; i++) {
		rtable += displayResultRow(r.locations[i], options);
	}
	rtable += "</table>";
	results.innerHTML = rtable;
}


//////////////////////////////
//
// displayResultRow --
//

function displayResultRow(entry, options) {
	var meta = RWORKLIST[entry.id];
	var title;
	if (meta) {
		if (meta.TITLE) {
			title = meta.TITLE;
		} else if (meta.RIMETITLE) {
			title = meta.RIMETITLE;
		}
	} else {
		console.log("ID ", entry.id, " is empty (and has no title)");
		console.log("This is probably because the search index needs to be updated");
		return "";
	}
	var composer = meta.COMPOSER.replace(/,.*/, "");
	
	// var url = "http://www.tassomusic.org/work?"
	var url = "/work?"
	var rtext = "<tr>";

	rtext += "<td>";
	rtext += entry.count;
	rtext += "</td>";

	rtext += "<td>";
	rtext += composer;
	rtext += "</td>";

	rtext += "<td>";
	rtext += "<a href='" + url + "id=" + entry.id;
	if (options.pquery) {
		rtext += "&mquery=" + options.pquery;  // URL escape pquery...
	}
	rtext += "'>" + title + "</a>";
	rtext += "</td>";

	rtext += "</tr>";
	return rtext;
}


//////////////////////////////
//
// buildReveseWorklist --
//

function buildReverseWorklist() {
	PrepareGlobalTassoObjects();

	if (sessionStorage.WORKLIST) {
		WORKLIST = JSON.parse(sessionStorage.WORKLIST);
	}

	RWORKLIST = {};

	var wl = TASSODATA.SETTINGS.RIME_SETTINGS.SETTING;
	// add other poems here later.

	for (var i in wl) {
		RWORKLIST[wl[i].CATALOGNUM] = wl[i];
	}
}




</script>
