
{% include_relative templates.html %}
{% include_relative listeners.html %}

<script src="/scripts/scripts-common.js"></script>

<script>
// vim: ts=3

var RWORKLIST;



//////////////////////////////
//
// doSearch --
// 

function doSearch() {
	var pitch = document.getElementById("pitch");
	var pquery = pitch.value;

	var interval = document.getElementById("interval");
	var iquery = interval.value;

	var rhythm = document.getElementById("rhythm");
	var rquery = rhythm.value;

	var relement = document.getElementById("repertory");
	var repertory = relement.value;

	if (
			pquery.match(/^\s*$/) &&
			iquery.match(/^\s*$/) &&
			rquery.match(/^\s*$/)
			) {
		var results = document.querySelector("#results");
		var summary = document.querySelector("#summary");
		results.textContent = "";
		summary.textContent = "";
		return;
	}

	PITCHQUERY = pquery;

	var url = "http://josquin.stanford.edu/cgi-bin/tasso?";
	url += "C=" + repertory;
	url += "&pitch="    + pquery;
	url += "&interval=" + iquery;
	url += "&rhythm="   + rquery;


	var request = new XMLHttpRequest();
	request.onreadystatechange = function() {
		if (request.readyState == XMLHttpRequest.DONE) {
			displayResults(request.responseText, {pquery: pquery, iquery: iquery, rquery: rquery});
		} else if (request.status == 400) {
			console.log("THERE WAS AN ERROR IN THE SEARCH");
		} else {
			console.log("STATUS =", request.status);
		}
	};
	request.open("GET", url);
	request.send();
}



//////////////////////////////
//
// displayResults
//

function displayResults(results, options) {
	var r = JSON.parse(results);
	console.log("R", r);
	// console.log("OPTIONS", options);

	var element = document.querySelector("#results");
	var tsource = document.querySelector("#music-search-template").textContent;
	var template = Handlebars.compile(tsource);
	element.innerHTML = template(r);
	sortByNumber(0);

	// var results = document.querySelector("#results");
	var summary = document.querySelector("#summary");

	var stext = "";
	if (r.matchcount == 0) {
		summary.innerHTML = "<span style='color:red;'>no matches</span>";
		results.innerHTML = "";
		return;
	} else {
		stext += r.matchcount;
		if (r.matchcount == 1) {
			stext += " match in "
		} else {
			stext += " matches in "
		}
		stext += r.locations.length;
		if (r.movementcount == 1) {
			stext += " work:";
		} else {
			stext += " works:";
		}
	}
	summary.innerHTML = stext;

/*

	var rtable = "<table id='searchList'>";
	rtable += "<thead>";
	rtable += "<tr>";
	rtable += "<th style='width:70px;'>count</th>";
	rtable += "<th>composer</th>";
	rtable += "<th>work</th>";
	rtable += "</tr>";
	rtable += "</thead>";
	rtable += "<tbody>";
	for (var i=0; i<r.locations.length; i++) {
		rtable += displayResultRow(r.locations[i], options);
	}
	rtable += "</tbody>";
	rtable += "</table>";
	results.display = "none";
	results.innerHTML = rtable;
	sortResultsBy(0);
	results.display = "block";
*/


}


//////////////////////////////
//
// sortResultsBy --
//

function sortResultsBy(columnIndex) {
	var rows = document.querySelector("table#searchList tbody tr")
	var rowlist = [];
	for (var i=0; i<rows.length; i++) {
		rowlist.push(rows[i]);
	}
	if (columnIndex == 0) {
		rowlist.sort(function(a, b) {
			var A = a.querySelector("td").textContent;
			var B = a.querySelector("td").textContent;
			return B - A;
		});
	} else {
	}


}



//////////////////////////////
//
// displayResultRow --
//

function displayResultRow(entry, options) {
	var meta = RSETTINGS[entry.id];
	var title;
	if (meta) {
		if (meta.TITLE) {
			title = meta.TITLE;
		} else if (meta.RIMETITLE) {
			title = meta.RIMETITLE;
		}
	} else {
		console.log("ID ", entry.id, " is empty (and has no title)");
		console.log("This is probably because the search index needs to be updated");
		return "";
	}
	var composer = meta.COMPOSER.replace(/,.*/, "");
	
	// var url = "http://www.tassomusic.org/work?"
	var url = "/work?"
	var rtext = "<tr>";

	rtext += "<td>";
	rtext += entry.count;
	rtext += "</td>";

	rtext += "<td>";
	rtext += composer;
	rtext += "</td>";

	rtext += "<td>";
	rtext += "<a href='" + url + "id=" + entry.id;
	if (options.pquery) {
		rtext += "&mquery=" + options.pquery;  // URL escape pquery...
	}
	rtext += "'>" + title + "</a>";
	rtext += "</td>";

	rtext += "</tr>";
	return rtext;
}


//////////////////////////////
//
// displaySingleWork --
//

function displaySingleWork(id) {
	if (!id) {
		return;
	}
	var extra = "";
	if (PITCHQUERY && !PITCHQUERY.match(/^\s*$/)) {
		extra = "&k=e&q=" + encodeURI(PITCHQUERY);
	} 
	// window.location.href = "/work?id=" + id + extra;
	window.open("/work?id=" + id + extra, "_blank");
}


</script>
