
<script src="/scripts/scripts-common.js"></script>

{% include_relative listeners.html %}
{% include_relative templates.html %}

<script>
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Sat Mar 26 07:56:45 PDT 2016
// Last Modified: Tue Mar 28 08:26:04 PDT 2017
// Filename:      settings/scripts-local.html
// Syntax:        JavaScript 1.8/ECMAScript 5
// vim:           ts=3: ft=javascript
//
// Description:   JavaScript management for the musical settings.
//

var CurrentPoem  = 0;  // ID of the current setting
var PoemList     = {}; // List of next/previous settings

var RWORKLIST    = {};  // Reverse work list


//////////////////////////////
//
// displaySource --
//

function displaySource(poem) {
	if (!poem) {
		poem = CurrentPoem;
	}
	if (poem) {
		window.location = "/sources/?id=" + poem;
	} else {
		window.location = "/sources";
	}
}



//////////////////////////////
//
// displayVariant --
//

function displayVariant(poem) {
	if (!poem) {
		poem = CurrentPoem;
	}
	if (poem) {
		window.location = "/variants/?id=" + poem;
	} else {
		window.location = "/variants";
	}
}



//////////////////////////////
//
// displayNextPoem --
//

function displayNextPoem(id) {
	var nid = PoemList[CurrentPoem].next;
	displayMusicalSettings(nid);
}



//////////////////////////////
//
// displayPreviousSetting --
//

function displayPreviousSetting() {
	if (!CurrentPoem) {
		console.log("Error: CurrentPoem is empty");
		return;
	}
	if (!PoemList[CurrentPoem]) {
		console.log("Error: cannot find", CurrentPoem, " in PoemList", PoemList);
		return;
	}
	if (!PoemList[CurrentPoem].previous) {
		console.log("Error: PoemList .previous entry for", CurrentPoem, "does not exist see", PoemList);
		return;
	}
	var id = PoemList[CurrentPoem].previous;
	displayMusicalSettings(nid);
}



//////////////////////////////
//
// displayMusicalSettings -- Show the literary sources for the given
// 	Rime.
//

function displayMusicalSettings(id, target) {
	if (!target) {
		target = "#contents";
	}

	if (!id) {
		id = CurrentPoem;
	}
	if (id) {
		id = id.replace(/[a-z]+$/, "");
	}

	var element = document.querySelector(target);
	if (!element) {
		console.log("Error: cannot place on page since", target, " doesn't exist.");
		return;
	}

	PrepareGlobalTassoObjects();
	buildAllSettingList();
	buildPoemList(ALLSETTINGLIST);
	reallyDisplaySettings(id, target);
}


//////////////////////////////
//
// buildAllSettingList --
//

function buildAllSettingList() {
	ALLSETTINGLIST = RIMESETTINGLIST
		.concat(GERUSETTINGLIST)
		.concat(AMINTASETTINGLIST)
		.concat(OTHERSETTINGLIST)
	;
}


//////////////////////////////
//
// buildPoemList --
//

function	buildPoemList(list) {
	var tosort = {};
	var id;
	if (!list) {
		list = ALLSETTINGLIST;
	}
	for (var i=0; i<list.length; i++) {
		if (!list[i]) {
			continue;
		}
		id = list[i].CATALOGNUM.replace(/[a-z]+$/, "");
		tosort[id] = 1;
	}
	var ids = Object.keys(tosort);
	ids.sort();
	PoemList = {};
	for (i=1; i<=ids.length-1; i++) {
		PoemList[ids[i]] = {};
		PoemList[ids[i]].next     = ids[i+1];
		PoemList[ids[i]].previous = ids[i-1];
	}

	if (ids.length == 1) {
		PoemList[ids[0]] = {};
		PoemList[ids[0]].next = ids[0];
		PoemList[ids[0]].previous = ids[0];
		return;
	}

	PoemList[ids[0]] = {};
	PoemList[ids[0]].next = ids[1];
	PoemList[ids[0]].previous = ids[ids.length-1];

	PoemList[ids[ids.length-1]] = {};
	PoemList[ids[ids.length-1]].next = ids[0];
	PoemList[ids[ids.length-1]].previous = ids[ids.length-2];
}




//////////////////////////////
//
// reallyDisplaySettings --
//

function reallyDisplaySettings(id, target) {
	if (!target) {
		target = "#contents";
	}
	var element = document.querySelector(target);
	if (!element) {
		console.log("Error: cannot place literary sources on page.");
		return;
	}
	buildReverseWorklist();

	var output = "";
	if (!id) {
		output += displayMultipleWorks();
	} else {
		output += displaySinglePoem(id);
	}

	element.innerHTML = output;
	applyNoWorkClass();
	sortByText(0); // sort by catalog number (same as sorting by year)
}



//////////////////////////////
//
// buildReveseWorklist -- disabled for now. Rebuild from TASSODATA structure.
//

function buildReverseWorklist() {
	return;
	RWORKLIST = {};
	var wl = WORKLIST[0].works;
	for (var i in wl) {
		RWORKLIST[wl[i].id] = 1;
	}
}



//////////////////////////////
//
// displayMultipleWorks --
//

function displayMultipleWorks() {
	var output = "";
	output += "<div style='font-size:100%; margin-left:0px'>";
	output += "<center>";
	output += "<h1 style='margin-top:0; padding-right:50px;'>Musical Settings</h1>";
	output += "</center>";

	var rimelist = RIMEVERSELIST;
	var rime;
	for (var i=0; i<rimelist.length; i++) {
		output += "<center><table style='margin-top:10px; ";
		output += "padding:0; padding-right:50px; width:100%'><tr>";
		output += "<td>";
		output += "</td><td style='width:100%; text-align:center'>";
		output += "<h2>";
		rime = rimelist[i].SOLERTI;
		var entry = rimelist[i];
		if (!entry) {
			console.log("Error accessing rime:", rime);
			console.log("Rime entry:", entry);
			console.log("Rime list:", rimelist);
			return;
		}
		var title = entry.TITLE;
		if (!title) {
			title = entry.RIMETITLE;
		}
		output += title;
		output += "&nbsp;&nbsp;(<i>Rime</i> " + rime + ")</h2>";
		output += "</td><td>";
		output += "</td></tr>";
		output += "</table></center>";

		var table = getMusicalSettingTable(entry);
		output += table;
	}
	output += "</div>\n";
	return output;
}



//////////////////////////////
//
// displaySinglePoem --
//

function displaySinglePoem(id) {
	if (!id) {
		console.log("Error: id is empty in displaySinglePoem");
		return;
	}

	document.title = id + " settings";
	var output = "";
//	output += "<div style='font-size:100%; margin-left:50px'>";
//	output += "<center>";
//	output += "<h1 style='padding-right:50px;'>Musical Settings</h1>";
//	output += "</center>";

	var cleanid    = id.replace(/[a-z]+$/, "");
	if (!cleanid) {
		console.log("Error: cleanid in displaysinglePoem is empty");
		return;
	}
	var entry = PoemList[cleanid];
	if (!entry) {
		console.log("Error: no entry for", cleanid, "in", PoemList);
		return;
	}
	var previousid = PoemList[cleanid].previous;
	var nextid     = PoemList[cleanid].next;

	output += "<center><table style=' width=100%;";
	output += "padding-top:-50px; padding-left:0px; padding-right:0px; width:100%'><tr>";
	output += "<td class='triangle'><span class='triangle' ";
	output += " onclick='displayVariant();'";
	output += "href='/sources?id=";
	output += previousid + "'>";
	output += "&#9664;<span style='position:relative; left:-9px;'>&#9664;</span>";
	output += "</td><td style='width:100%; text-align:center'>";
	output += "<h1 style='margin-top:0;'>Musical Settings</h1>";
	output += "</td><td class='triangle'>";
	output += "<span class='triangle'";
	output += " onclick='displaySource();'";
	output += " href='/sources?id=";
	output +=  nextid + "'>";
	output += "<span class='backward' style='margin-right:-9px;'>";
	output += "<span style='position:relative; left:9px;'>&#9664;</span>&#9664;</span>";
	output += "</td></tr>";
	output += "</table></center>";

	output += "<center><table style='width=100%; margin-top:-50px; ";
	output += "padding-left:0px; padding-right:0px; width:100%'><tr>";
	output += "<td class='triangle'><span class='triangle' ";
	output += " onclick='displayMusicalSettings(\"" + previousid + "\");'>";
	output += "&#9664;</span>";
	output += "</td><td style='width:100%; text-align:center'>";
	output += "<h2>";
	var entry = GetAllSettingEntryList(id, ALLSETTINGLIST);
	if (!entry) {
		console.log("Error accessing id b:", id);
		console.log("ZENTRY:", entry);
		console.log("ALLSETTINGLIST", ALLSETTINGLIST);
		return;
	}
	var title = entry.TITLE;
	if (!title) {
		title = entry.RIMETITLE;
	}
	if (!title) {
		title = entry[0].TITLE;
	}
	if (!title) {
		title = entry[0].RIMETITLE;
	}
	title = title.replace("ANGIOLETTA", "<span class=name>A<font style=\"font-variant:small-caps\">ngioletta</font></span>");
	title = title.replace("BARBARA", "<span class=name>B<font style=\"font-variant:small-caps\">arbara</font></span>");
	title = title.replace("Angioletta", "<span class=name>A<font style=\"font-variant:small-caps\">ngioletta</font></span>");
	title = title.replace("Barbara", "<span class=name>B<font style=\"font-variant:small-caps\">arbara</font></span>");
	output += title;
	output += GetCatalogInfo(id);
	output += "</h2>";
	output += "</td><td class='triangle'>";
	output += "<span class='triangle'";
	output += " onclick='displayMusicalSettings(\"" + nextid + "\");'>";
	output += "<span class='backward'>&#9664;</span></span>";
	output += "</td></tr>";
	output += "</table></center>";

	var table = getMusicalSettingTable(entry);
	output += table;
	output += "</div>\n";
	return output;

}





//////////////////////////////
//
// buildSetList --
//

function buildSetList(entry) {
	var id = entry.CATALOGNUM;
	var cleanid = id.replace(/[a-z]+$/, "");
	if (!cleanid) {
		return;
	}
	var WORKS = [];
	var WLIST = ALLSETTINGLIST;
	for (var i=0; i<WLIST.length; i++) {
		if (WLIST[i] === undefined) {
				console.log("Catalog entry is undefined!");
				if (i > 0) {
					console.log("Previous entry:", WLIST[i-1]);
					console.log("Next entry:", WLIST[i+1]);
				}
				continue;
		}
		if (WLIST[i].CATALOGNUM === undefined) {
				console.log("UNDEFINED CATALOGNUM for entry", WLIST[i]);
				continue;
		}
		if (WLIST[i].CATALOGNUM.match(cleanid)) {
			WORKS.push(WLIST[i]);
		}
	}
	WORKS.sort(function (a, b) {
		if (a.CATALOGNUM < b.CATALOGNUM) {
			return -1;
		} else if (a.CATALOGNUM > b.CATALOGNUM) {
			return +1;
		}
		return 0;
	});
	entry.WORKS = WORKS;
}



//////////////////////////////
//
// getMusicalSettingTable --
//

function getMusicalSettingTable(entry) {
	if (!entry) {
		return ""
	}
	if (!(entry instanceof Array)) {
		entry = [ entry ];
	}
	for (var i=0; i<entry.length; i++) {
		buildSetList(entry[i]);
	}
	var tsource = document.querySelector("#settings-template")
	                      .textContent;
	var settingTemplate = Handlebars.compile(tsource);
	var output = settingTemplate(entry);
	return output;
}



//////////////////////////////
//
// sortByYear --
//

function sortByYear(index, selector) {
	var data = document.querySelectorAll(".data");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A;
		var B;
		if (selector) {
			A = a.cells[index].querySelector(selector).innerHTML;
			B = b.cells[index].querySelector(selector).innerHTML;
		} else {
			A = a.cells[index].textContent;
			B = b.cells[index].textContent;
		}
		A = A.replace(/^\s*C\s*/, "");
		B = A.replace(/^\s*C\s*/, "");
console.log("A", A, "B", B);
		var matches;
		if (matches = A.match(/(\d{4})/)) {
			A = matches[1];
		} else {
			A = "";
		}
		if (matches = B.match(/(\d{4})/)) {
			B = matches[1];
		} else {
			B = "";
		}
		if (A.match(/^\s*$/)) {
			return +1;
		}
		if (B.match(/^\s*$/)) {
			return -1;
		}
		var result = A.localeCompare(B);
		return result;
	});

	var body = document.querySelector("table.music-browse-list tbody");
	if (body === null) {
		body = document.querySelector("table.literary-browse-list tbody");
	}
	body.innerHTML = "";
	for (i=0; i<datalist.length; i++) {
		body.appendChild(datalist[i]);
	}
}



//////////////////////////////
//
// applyNoWorkClass --
//

function applyNoWorkClass() {
	var data = TASSODATA;
	if (!data) {
		return;
	}
	var scores = data.SCORES;
	if (!scores) {
		return;
	}
	var sdata = scores.SCOREDATA;
	if (!sdata) {
		return;
	}
	var rlist = {};
	var i;
	for (i=0; i<sdata.length; i++) {
		rlist[sdata[i].CATALOGNUM] = sdata[i];
	}

	var rows = document.querySelectorAll(".music-browse-list tr");
	for (i=0; i<rows.length; i++) {
		var td = rows[i].querySelector("td");
		if (!td) {
			continue;
		}
		var catalog = td.innerText.replace(/^C/, "");  // replace needed for cycle marker.
		if ((!catalog.match(/Trm1643/)) && (!rlist[catalog])) {
			rows[i].classList.add("nowork");
			var tds = rows[i].querySelectorAll("td");
			for (var j=0; j<tds.length; j++) {
				tds[j].classList.add("nowork");
			}
		}
	}
}



//////////////////////////////
//
// displaySingleWork --
//

function displaySingleWork(id) {
	if (!id) {
		return;
	}
	window.open("/work?id=" + id, "_blank");
}


</script>
