
<div id="tabs">
	<div><span style="padding-right:22px;" id="introduction-heading" onclick="displayIntroduction('#contents')" class="active"><nobr>Introduction</nobr></span></div>
	<div><span id="howto-heading" onclick="displayHowto('#contents')"><nobr>How to use</nobr></span></div>
	<div><span id="honors-heading" onclick="displayHonors('#contents')"><nobr>Honors</nobr></span></div>
	<div><span id="events-heading" onclick="displayEvents('#contents')"><nobr>Events</nobr></span></div>
	<div><span id="publications-heading" onclick="displayPublications('#contents')"><nobr>Publications</nobr></span></div>
</div>


