<!--
  vim: ts=3
  -->

<footer>
	<nav class="footer">
		<ul>
			<li class="logo"> Tasso in Music Project</li>
			<li> <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSd4-RzACR0btQKBNL4TN_hmQl9J8oR80CvF9Z0OJOzut7QFKQ/viewform?usp=pp_url&entry.2062173165&entry.858373587&entry.329701160&entry.1304806176={{site.url}}{{page.url}}">Feedback</a> </li>
			<li> <a target="_blank" href="/about/news">News</a> </li>
			<li> <a target="_blank" href="/about/technical">Under-the-hood</a> </li>
		</ul>
	</nav>
</footer>

{% include google-analytics.html %}


