
<img src="/images/banner.jpg" alt="" width="1140px" id="banner" >
<div id="sitename">
	<h1><nobr>{{site.main_title}}</nobr></h1>
</div>
<div id="slogan">
	<p style="color:black;"><nobr>{{site.main_subtitle}}</nobr></p>
</div>
<div style="position:absolute; top:70px; left:400px; font-size: 2rem; color:#99000066; font-weight: bold">Beta version</div>
<div id="bylines">
	<ul>
	<li style="color:black; font-size:103%; font-weight:bold;"> Emiliano Ricciardi, director &amp; general editor </li>
	<li style="color:black; font-size:103%; font-weight:bold;">Craig Stuart Sapp, technical director </li>
	</ul>
</div>



