
{% if page.handlebars == true %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
{% else %}
	<!-- page.handlebars is disabled "{{page.handlebars}}" -->
{% endif %}

{% if page.aton == true %}
	<script src="/scripts/external/aton/aton.js"></script>
{% else %}
	<!-- page.aton is disabled "{{page.aton}}" -->
{% endif %}

{% include verovio.html %}


{% if page.scripts-local == true %}
	{% include_relative scripts-local.html %}
{% else %}
	<!-- page.scripts-local is disabled "{{page.scripts-local}}" -->
{% endif %}


{% if page.jquery == true %}
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{% endif %}

{% if page.qtip == true %}
<script src="/scripts/external/qtip/jquery.qtip.min.js"></script>
<script src="/scripts/external/qtip/imagesloaded.pkg.min.js"></script>
<link type="text/css" rel="stylesheet" href="/scripts/external/qtip/jquery.qtip.min.css"/>
{% endif %}


{% if page.pdfkit == true %}
	<script src="/scripts/pdfkit/blobstream.js"></script>
	<script src="/scripts/pdfkit/pdfkit.js"></script>
	<script src="/scripts/pdfkit/source.js"></script>
	<script src="/scripts/pdfkit/vrv-ttf.js"></script>
	<script src="/scripts/pdfkit/simonetta-ttf.js"></script>
	<script src="/scripts/pdfkit/FileSaver.min.js"></script>
{% else %}
	<!-- page.pdfkit is disabled "{{page.pdfkit}}" -->
{% endif %}


