/* 
 * vim: ts=3
 */

#contents {
	padding: 30px;
	font-size: 130%;
	border-top-right-radius: 0px !important;
}

tr td {
	padding-top: 50px;
}


.play, .pause {
	float: right;
	margin-bottom: -100px;
	margin-top: -25px;
}
