
.hidden span {
	display:none;
}

.hidden{
	display:inline-block;
	font-size: 18px;
	height: 30px;
	padding-left: 100px;
	margin-top: -20px;
	margin-bottom: 0;
}

.clicker{
	display: block;
	clear: right;
	position: relative;
	height: 40px;
	bottom: 35px; /* adjust this to match the solerti numbers in the same row... */
	left: 140px;
	margin-bottom: -40px;
}

.num{
	clear: none;
	display: block;
	/* margin-left:23px; */
}

.num:after {
	content: ".";
}

.solerti {
	display:block;
	float:left;
	margin-left:5px;
}

.title {
	display:block;
	float:left;
	margin-left:40px;
}


div#contents {
	padding-left: 60px;
	border-top-left-radius: 5px;
	margin-top: 5px !important;
	padding-right: 40px;
	font-size: 1.7em;
}

div#logos {
	margin-left: -60px;
}


