<script src="/scripts/scripts-common.js"></script>
<script src="/scripts/scripts-worknav.js"></script>

{% include_relative templates.html %}

{% include_relative listeners.html %}

<script>
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Thu Mar 31 21:34:11 PDT 2016
// Last Modified: Mon Dec 30 05:53:43 PST 2019
// Filename:      work/scripts-local.html
// Syntax:        JavaScript 1.8/ECMAScript 5
// vim:           ts=3: ft=javascript
//
// Description:   JavaScript management for display of work pages.
//

var SORT = "alphabetic";
var SORTALPHABETIC = [];
var SORTNUMERIC = [];
var LASTWORD = "";
var WORDLIST = {};
var ZCOUNT = 0;


//////////////////////////////
//
// getLyrics -- extract catalog number from  CGI variable "id"
//

function getLyrics(id) {
	 SORT = "alphabetic";
	 SORTALPHABETIC = [];
	 SORTNUMERIC = [];
	 LASTWORD = "";
	 WORDLIST = {};
	 ZCOUNT = 0;

	if (!id) {
		var cgi = GetCgiParameters();
		id = "Trm0047a";
		if (cgi.id) {
			id = cgi.id;
		}
	}
	ID = id;

	var request = new XMLHttpRequest();
	request.open("GET", "{{site.tasso_data_url}}/?a=lyrics&id=" + id);
	request.addEventListener("load", function() {
		var element = document.querySelector("div#lyrics");
		if (!element) {
			return;
		}
		var text = this.responseText.replace(/<style>[\S\s]*?<\/style>/, "");
		text = text.replace(/<script>[\S\s]*?<\/script>/, "");
		// (replace above does not work)
		element.innerHTML = this.responseText;
		setupLyrics();
		addSortButton();
		addDataButton();
	});
	request.send();

	loadWorkList();
}



//////////////////////////////
//
// loadWorkList --
//

function loadWorkList(url) {
	if (!url) {
		url = "{{site.worklist}}";
	}
console.log("URL", url);
	var counter = 0;

	if (sessionStorage.WORKLIST) {
		WORKLIST = JSON.parse(sessionStorage.WORKLIST);
		buildNextPreviousLists();
		counter++;
	}

	if (!sessionStorage.WORKLIST) {
		var request = new XMLHttpRequest();
		request.open("GET", url);
		request.addEventListener("load", function() {
			WORKLIST = JSON.parse(this.responseText);
			buildNextPreviousLists();
			sessionStorage.WORKLIST = this.responseText;
			counter++;
			if (counter == 1) {
				continueSetup();
				counter++;
			}
		});
		request.send();
	}

	if (counter == 1) {
		continueSetup();
		counter++;
	}
}



//////////////////////////////
//
// continueSetup --
//

function continueSetup() {
	displayHeader();
}



//////////////////////////////
//
// displayHeader --
//

function displayHeader(target) {
	if (!target) {
		target = "#worknav";
	}
	var element = document.querySelector(target);
	if (!element) {
		return;
	}
console.log("+++ ID = ", ID);
	var workinfo = getWorkInfo(ID);
console.log("WORKINFO", workinfo);
	var tsource = document.querySelector("#worknav-template").textContent;
	var worknavTemplate = Handlebars.compile(tsource);
	var text = worknavTemplate(workinfo);
	element.innerHTML = text;
}



//////////////////////////////
//
// getWorkInfo --
//

function getWorkInfo(id) {
	if (!WORKLIST) {
		return null;
	}
	var i, j;
	for (i=0; i<WORKLIST.length; i++) {
		var rep = WORKLIST[i];
		for (j=0; j<rep.works.length; j++) {
			if (rep.works[j].id === id) {
				return rep.works[j];
			}
		}
	}
}



//////////////////////////////
//
// displayPreviousWork --
//

function displayPreviousWork(id) {
	if (!id) {
		id = ID;
	}
	var newid = ORDER[id].previous;
	ID = newid;
	getLyrics(ID);
}



//////////////////////////////
//
// displayNextWork --
//

function displayNextWork(id) {
	if (!id) {
		id = ID;
	}
	var newid = ORDER[id].next;
	ID = newid;
	getLyrics(ID);
}


//////////////////////////////
//
// setupLyrics --
//

function setupLyrics() {
	if (ZCOUNT > 0) {
		return;
	}
	ZCOUNT++;
	prepareWordlist();
	var wf = document.querySelector("#wf");
	if (wf) {
		wf.addEventListener("click", toggleSort);
	}
}

document.addEventListener("mouseover", function(event) {
	if (!event.target.nodeName.match(/^SPAN$/i)) {
		return;
	}
	event.preventDefault();
	var text = event.target.innerHTML.toLowerCase();
	if (text === LASTWORD) {
		return;
	}
	unhighlightWord(LASTWORD);
	highlightWord(text);
	LASTWORD = text;
});



//////////////////////////////
//
// unhighlightWord --
//

function unhighlightWord(word) {
	var list = WORDLIST[word]
	if (!list) {
		return;
	}
	for (var i=0; i<list.length; i++) {
		list[i].style.color = "";
	}
}



//////////////////////////////
//
// highlightWord --
//

function highlightWord(word) {
	var list = WORDLIST[word]
	if (!list) {
		return;
	}
	for (var i=0; i<list.length; i++) {
		list[i].style.color = "red";
	}
}



//////////////////////////////
//
// prepareWordlist --
//

function prepareWordlist() {
	var words = document.querySelectorAll("span.word");
	for (var i=0; i<words.length; i++) {
		word = words[i].innerHTML.toLowerCase();
		if (WORDLIST[word]) {
			WORDLIST[word].push(words[i]);
		} else {
			WORDLIST[word] = [];
			WORDLIST[word].push(words[i]);
		}
	}
}



//////////////////////////////
//
// toggleSort --
//

function toggleSort() {
	event.preventDefault();
	var button = document.querySelector("#sortbutton");
	if (SORT === "alphabetic") {
		sortNumeric();
		SORT = "numeric";
		button.innerHTML = "sort alphabetically";
	} else {
		sortAlphabetic();
		SORT = "alphabetic";
		button.innerHTML = "sort numerically";
	}
	prepareWordlist();
	unhighlightWord(LASTWORD);
	LASTWORD = "";
	
}



//////////////////////////////
//
// sortNumeric --
//

function sortNumeric() {
	var entries = document.querySelectorAll("table.wordlist tr");
	var alphaentries;
	if (SORTALPHABETIC.length > 0) {
		alphaentries = SORTALPHABETIC; 
	} else {
		for (var i=0; i<entries.length; i++) {
			SORTALPHABETIC.push(entries[i].innerHTML);
		}
	}

	var numentries;
	if (SORTNUMERIC.length > 0) {
		numentries = SORTNUMERIC;
	} else {
		numentries = SORTALPHABETIC.concat()
			                        .sort(function(a, b) {
			var matches;

			if (a.match("Count")) {
				return 1;
			}
			if (b.match("Count")) {
				return -1;
			}

			var regexp1 = /<td>([0-9]+)/
			var anum;
			if (matches = a.match(regexp1)) {
				anum = matches[1];
			}

			var regexp2 = /<span[^>]*>([^<]+)<.span>/;
			var atext;
			if (matches = a.match(regexp2)) {
				atext = matches[1];
			}

			if (!anum) { return -1; }
			if (!atext) { return -1; }

			var bnum;
			if (matches = b.match(regexp1)) {
				bnum = matches[1];
			}

			var btext;
			if (matches = b.match(regexp2)) {
				btext = matches[1];
			}

			if (!bnum) { return 1; }
			if (!btext) { return 1; }


			if (anum === bnum) {
				return atext.localeCompare(btext);
			} else {
				return parseInt(bnum) - parseInt(anum);
			}
		}) ;
		// console.log("NUMERIC SORT", numentries);
	}

	var counter = 0;
	for (i=0; i<entries.length; i++) {
		if (entries[i].innerHTML.match("Count")) {
			continue;
		}
		entries[i].innerHTML = numentries[counter++];
	}
}



//////////////////////////////
//
// sortAlphabetic --
//

function sortAlphabetic() {
	var entries = document.querySelectorAll("table.wordlist tr");

	var counter = 0;
	for (i=0; i<entries.length; i++) {
		if (entries[i].innerHTML.match("Count")) {
			continue;
		}
		if (SORTALPHABETIC[counter].match("Count")) {
			counter++;
		}
		entries[i].innerHTML = SORTALPHABETIC[counter++];
	}
}



//////////////////////////////
//
// addSortButton --
//

function addSortButton() {
	var wf = document.querySelector("#wf");
	var button = document.createElement("div");
	button.id = "sortbutton";
	button.className = "wfbutton";
	button.innerHTML = "sort numerically";
	button.addEventListener("click", toggleSort);
	wf.parentNode.insertBefore(button, wf.nextSibling);
}



//////////////////////////////
//
// addDataButton --
//

function addDataButton() {
	var wf = document.querySelector("#wf");
	var button = document.createElement("input");
	button.id = "databutton";
	button.className = "wfbutton";
	button.type = "button";
	button.value = "data";
	button.style.border = 0;
	button.style.outline = 0;
	button.style.borderStyle = "none";
	button.style.marginRight = "80px";
	button.style.opacity = 0.5;
	button.onclick = displayData;
	// button.innerHTML = "data";
	wf.parentNode.insertBefore(button, wf.nextSibling);
}



//////////////////////////////
//
// displayData --
//

var DATAWINDOW;

function displayData() {
	var text;
	text = "<html><head>";
	text += "<meta charset='UTF-8'>";
	text += "<title>data</title>";
	text += "</head><body>";
	text += "<pre>";
	text += generateWordListData();
	text += "</pre>";
	text += "<script>console.log('GOT HERE QQQ'); var parent = window.open('', 'parent'); parent.focus();<\/script>";
	text += "</body></html>";
	window.name = "parent";
	if (DATAWINDOW) {
		DATAWINDOW.close();
	}
	DATAWINDOW = window.open('', "datawindow", "width=200,height=700,left=100,top=50,0,status=no,menubar=no,directories=no,titlebar=no,toolbar=no,location=no,status=0,scrollbars=1");
	DATAWINDOW.document.write(text);
}



//////////////////////////////
//
// generateWordListData --
//

function generateWordListData() {
	var tables = document.querySelectorAll("table.wordlist");
	var text = "";
	for (var i=0; i<tables.length; i++) {
		var rows = tables[i].querySelectorAll("tr")
		for (var j=1; j<rows.length; j++) {
			var cols = rows[j].querySelectorAll("td");
			for (var k=0; k<cols.length; k++) {
				text += cols[k].textContent.replace(/\s+$/, "").replace(/^\s+/, "");
				if (k < cols.length - 1) {
					text += "\t";
				}
			}
			text += "\n";
		}
	}
	return text;
}


</script>



