@charset "UTF-8";

/*
 * vim: ts=3
 */

body.waiting * {
	cursor: progress;
}

html, body {
	background-color: #404040;
	font-family: simonetta;
	font-size 20pt;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


table.poem-list {
	font-size: 120%;
	margin-left: 130px;
	margin-right: 30px;
	border-collapse: collapse;
	margin-bottom: 100px;
	margin-top: 30px;
}


a {
	text-decoration: none;
	color: {{site.heading_color}};
}


.float-right {
   /* float: right; */
	/* color: #B19C5F; */
	/* padding-left: 10px; */
}




table.poem-list > tbody > tr:hover:nth-child(n+2) {
	/* background: #fafaf8; */
}


table.poem-list > tbody > tr {
   vertical-align: top;
	border: 0;
	padding: 0;
}


table.poem-list > tbody > tr > td {
	border: 0;
	padding: 0;
	width: 100%;
}


.poem-list > tbody > tr > td:first-child {
	text-align: right;
	padding-right: 40px;
	width: 100px;
}


.poem-list > tbody > tr > td:first-child::after {
/*	content: "." */
}


.poem-list > thead > tr > th {
	padding-bottom: 20px;
}


.poem-list > tbody > tr > th:first-child {
	text-align: right;
	padding-right: 40px;
	width: 100px;
}


.poem-list > thead > tr > th:nth-child(2) {
	text-align: left;
   padding-left: 20px;
}


.poem-list > tbody > tr > td:nth-child(2) {
	text-align: left;
   padding-left: 20px;
}


.choices td {
	font-size: 85%;
	padding-right: 50px;
	cursor: pointer;
   color: #888888;
}


.choices td:hover {
	font-weight: bold;
	color: black;
}


table.choices {
   margin-top: -5px;
	visibility: hidden;
}


#container {
	min-height: 1000px;
	width: inherit;
	height: inherit;
	position: relative;
	/* background: none repeat scroll 0 0 #fff; */
	background: none repeat scroll 0 0 {{site.heading_color}};

	/* box-shadow: 6px 0 10px -7px #888, -6px 0 10px -7px #888; */
	margin: 0 auto;
	max-width: 1140px;
	height: auto;
}


ul#header2,
ul#header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}


#header, #header2 {
	background-color: #372817;	
	display: block;
	overflow: hidden;
}


#header {
	height: 70px;
	margin-top: 10px;
	margin-bottom: 20px;
}



#header li:first-child {
	padding-top: 5px;

}


#header2 {
	height: 55px;
	padding-top: 5px !important;
}


#header a, #header2 a,
#header span, #header2 span {
	font-family: simonetta;
	/* font-variant: small-caps; */
	text-transform: uppercase;
	letter-spacing: +1px;
	float: left;
	text-decoration: none;
	color: {{site.heading_color}};
	padding-top: 20px;
	/* ggg change these values to add or remove links from headers */
	padding-left:  28px;
	padding-right: 28px;
	font-size: 1.2rem;
}


#header a:hover, #header2 a:hover {
	color: #b6a37c;
}


#header .self-link {
	color: #b6a37c;
	font-weidht: bold;
	text-shadow: 0px 0px 1px #b6a37c;
	cursor: default;
}


#body {
	min-height: 1000px;
	padding-bottom: 60px;   /* Height of the footer */
}


th.source {
	text-align: left;	
}


th.composer {
	text-align: left;	
}


footer {
	position: absolute;
	color: #4a3307;
	/* font-variant: small-caps; */
	max-height: 60px;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: {{site.heading_color}};
	text-align: center;
 	font-size: 20px;
}


footer ul {
	display: block;
	list-style: none;
	text-align: left;
	padding-left: 32px;
}

footer ul li.logo {
	margin-right: 0;
	margin-left: -25px;
	font-size: 1.45rem;
	letter-spacing: -1px;
	word-spacing: -1px;
}

footer ul li:not(:first-child) {
	padding-left: 15px;
	padding-right: 15px;
}


footer ul li a {
	color: #c2ab6c;
	text-transform: uppercase;
	letter-spacing: 2px;
}

footer ul li:after {
	content: "";
	display: inline-block;
	width: 2px;
	height: 100%;
	background: #4c4542;
	position: absolute;
	right: 0; 
	top: 0;
}

footer ul li:last-child:after,
footer ul li:first-child:after {
	content: "";
	display: inline-block;
	width: 0px;
	height: 100%;
	margin-left: 20px;
	margin-right: 20px;
	background: #4c4542;
	position: absolute;
	right: 0; 
	top: 0;
}



footer ul li {
	display: inline-block;
	position: relative;
	text-align: -webkit-match-parent;
}


#banner {
	padding: 0px;
	margin-top: -10px;
}

	
#sitename h1 {
	font-weight: bold;
	font-size: 66px;
	color: #4a3307;
	margin-top: -220px;
	letter-spacing: 8px;
	padding-left: 40px;
}


#slogan p {
	opacity: 0.85;
	font-size: 1.48rem;
	color: #4a3307;
	font-weight: bold;
	margin-top: -25px;
	padding-bottom: 20px;
	padding-left: 50px;
	word-spacing: 2px;
	letter-spacing: 1px;
}

#bylines {
	opacity: 0.65;
	width: 820px;
	font-size: 1.35rem;
	margin-left: 20px;
	margin-top: -18px;
	margin-bottom: 32px;
	color: #4a3307;
	text-align: top
}

#bylines ul {
	display: block;
	list-style: none;
	text-align: left;
	padding-left: 32px;
}


#bylines ul li {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	text-align: -webkit-match-parent;
}


#bylines ul li:first-child {
	padding-right: 55px;
}


.contents h2:first-of-type {
	margin-top: 50px;
}

h2 {
	color: #c2ab6c;
}

#contents {
	/* min-height: 100%; */
	position: relative;
	font-size: 1.3rem;
	min-height: 1000px;
	width: inherit;
	position: relative;
	background: none repeat scroll 0 0 #fff;
	box-shadow: 6px 0 10px -7px #888, -6px 0 10px -7px #888;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 40px;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	max-width: 1140px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

#contents-plain {
	/* min-height: 100%; */
	position: relative;
	font-size: 1.3rem;
	min-height: 1000px;
	width: 100%;
	/* position: relative; */
	background: none repeat scroll 0 0 #fff;
	box-shadow: 6px 0 10px -7px #888, -6px 0 10px -7px #888;
	padding:0;
	margin:0;
/*
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 40px;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
*/
	/* max-width: 1140px; */
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}


#tabs {
	background-color: {{site.heading_color}};
	width: 1140px;
	height: 68px;
	margin-top: 45px;
	margin-bottom: -50px;
	padding-bottom: -50px;
	position: relative;
	z-index: 1000;
}


#tabs a,
#tabs span {
	cursor: pointer;
	float: left;
	margin-top: 10px;
	font-size: 30px;
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
	color: #634f29;
	background-color: {{site.tab_color}};
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10.25px; /* using 10px will sometimes give a small border */
	width: 200px;
	text-align: center;
}



#tabs .active{
	background-color: #ffffff;
	cursor: auto;
}


.play {
	display: inline-block;
	text-indent: -19999px;
	background: url(../images/mp3.svg) no-repeat 0 0;
	width: 56px;
	height: 27px;
	margin-left: 15px;
	position: relative;
	top: 3px;
}


.pause {
	display: inline-block;
	text-indent: -19999px;
	background: url(../images/mp3-pause.svg) no-repeat 0 0;
	width: 56px;
	height: 27px;
	margin-left: 15px;
	position: relative;
	top: 3px;
}


.print-title {
	font-style: italic;
}


svg tspan {
	font-family: simonetta, Leipzig !important;
}


input::placeholder {
	color: #aaa;
}


input {
	font-size: 105%;
}

.play {
	padding-bottom: 1px;
}

.pause {
	padding-bottom: 1px;
}


.backward {
	display: inline-block;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

/* The following was needed to avoid highlighting text, but not not 
 * needed so that text can be highlighted.
 */

/* 
svg g[id^="syl-"] {
	fill: black;
}
*/



