<script src="/scripts/scripts-common.js"></script>

{% include_relative templates.html %}

{% include_relative listeners.html %}

<script>
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Thu Mar 31 21:34:11 PDT 2016
// Last Modified: Tue Mar 28 16:03:55 PDT 2017
// Filename:      work/scripts-local.html
// Syntax:        JavaScript 1.8/ECMAScript 5
// vim:           ts=3: ft=javascript
//
// Description:   JavaScript management for display of work pages.
//

var ORDER = {};
var REPORT = {};
var ID = "";
var vrvToolkit;
var vrvOptions = {
	pageWidth: 2500,
	adjustPageHeight: 1,
	pageHeight: 1000,
	font: "Leipzig",
	scale: 40
};
var CURRENT_PAGE = 1;
var INCIPIT_STYLE = 0;


//////////////////////////////
//
// checkLocalStorage --
//

function checkLocalStorage() {
	var timestamp = sessionStorage.timestamp;
	if (!timestamp) {
		sessionStorage.clear();
	}
	var hours = 24;
	var seconds = new Date().getTime() / 1000;
	if (seconds - timestamp > hours * 3600)  {
		sessionStorage.clear();
	}
}





//////////////////////////////
//
// loadWorkList --
//

function loadWorkList(url) {
	if (!url) {
		url = "{{site.worklist}}";
	}
	var counter = 0;

	if (sessionStorage.SETLIST) {
		SETLIST = JSON.parse(sessionStorage.SETLIST);
		counter++;
	} else {
		var request = new XMLHttpRequest();
		request.open("GET", "{{site.rime_settings}}");
		request.addEventListener("load", function() {
			var aton = new ATON;
			SETLIST = aton.parse(this.responseText).RIME_SETTING;
			sessionStorage.SETLIST = JSON.stringify(SETLIST);
			counter++;
			if (counter == 2) {
				continueSetup();
				counter++;
			}
		});
		request.send();
	}

	if (sessionStorage.WORKLIST) {
		WORKLIST = JSON.parse(sessionStorage.WORKLIST);
		buildNextPreviousLists();
		counter++;
	} else {
		var request = new XMLHttpRequest();
		request.open("GET", url);
		request.addEventListener("load", function() {
			WORKLIST = JSON.parse(this.responseText);
			buildNextPreviousLists();
			sessionStorage.WORKLIST = this.responseText;
			counter++;
			if (counter == 2) {
				continueSetup();
				counter++;
			}
		});
		request.send();
	}

	if (counter == 2) {
		continueSetup();
		counter++;
	}
}



//////////////////////////////
//
// continueSetup --
//

function continueSetup() {
	if (ID) {
		displaySingleWork(ID)
	} else {
		displayWorkList();
	}
}



//////////////////////////////
//
// displayWorkList --
//

function displayWorkList(target) {
	if (!target) {
		target = "#contents";
	}
	var element = document.querySelector(target);
	if (!element) {
		return;
	}
	var tsource = document.querySelector("#worklist-template").textContent;
	var workTemplate = Handlebars.compile(tsource);
	var output = workTemplate(WORKLIST[0]);
	element.innerHTML = output;
}



//////////////////////////////
//
// displayNextWork --
//
//

function displayNextWork(id) {
	if (!id) {
		id = ID;
	}
	var newid = ORDER[id].next;
	ID = newid;
	displaySingleWork(ID);
}



//////////////////////////////
//
// displayPreviousWork --
//
//

function displayPreviousWork(id) {
	if (!id) {
		id = ID;
	}
	var newid = ORDER[id].previous;
	ID = newid;
	displaySingleWork(ID);
}



//////////////////////////////
//
// displaySingleWork --
//

function displaySingleWork(id, target) {
	if (!id) {
		id = ID;
	}
	ID = id;

	var element = document.querySelector("#contents");
	if (!element) {
		console.log("Error: no #contents");
		return;
	}

	workinfo = getWorkInfo(id);
	if (!workinfo) {
		console.log("Error: no workinfo: ", id);
		return;
	}
	if (!target) {
		target = "#contents";
	}
	var setting = GetSettingEntry(id);
	var work = GetWorkEntry(id);
	setting.ih = work.ih;
	setting.TITLE = work.title;
	var tsource = document.querySelector("#singlework-template").textContent;
	var singleTemplate = Handlebars.compile(tsource);
	var output = singleTemplate(setting);
	element.innerHTML = output;
	CURRENT_PAGE = 1;

	getHumdrum(id);
	getRange(id);
	getCriticalNotes(id);
}



///////////////////////////////
//
// getCriticalNotes --
//

function getCriticalNotes(id) {
	var tag = "report_" + id;
	var tagcontent;
	var element = document.querySelector("#" + tag);
	var output = "";

	if (REPORT[id]) {
		if (element) {
			output += REPORT[id];
			element.innerHTML = addCatalogLinks(output);
		}
	} else {
		var url = "/include/report/" + id + "-report.html";
		var request = new XMLHttpRequest();
		request.open('GET', url);
		request.addEventListener("load", function() {
			if (this.status == 200) {
				var data = this.responseText;
				REPORT[id] = data;
				if (element) {
					element.innerHTML = addCatalogLinks(data);
				}
			}
		});
		request.send()
	}

	getCriticalReportNoRecurse(ORDER[id].next);
	getCriticalReportNoRecurse(ORDER[id].previous);
}



//////////////////////////////
//
// addCatalogLinks --
//

function addCatalogLinks(text) {
	var re = /(Trm\d\d\d\d[a-z]+)/g;
	return text.replace(re, function(match, id) {
		if (id) {
			return "<a href='/work?id=" + id + "'>" + id + "</a>";
		}
	});
}



//////////////////////////////
//
// getCriticalReportNoRecurse --
//

function getCriticalReportNoRecurse(id) {
	var tag = "report_" + id;
	if (REPORT[id]) {
		return;
	}

	var url = "/include/report/" + id + "-report.html";
	var request = new XMLHttpRequest();
	request.open('GET', url);
	request.addEventListener("load", function() {
		if (this.status == 200) {
			var data = this.responseText;
			REPORT[id] = data;
		}
	});
	request.send()
}



//////////////////////////////
//
// initializeVerovioNotation --
//

function initializeVerovioNotation(sourceid, targetid) {
	if (!targetid) {
		targetid = "verovio-display";
	}
	if (!sourceid) {
		sourceid = "humdrum-data";
	}

	var target = document.querySelector("#" + targetid);
	if (!target) {
		console.log("Cannot find target id:", targetid);
		return;
	}

	var source = document.querySelector("#" + sourceid);
	if (!source) {
		console.log("Cannot find source id:", sourceid);
		return;
	}
	var content = source.textContent;
	var matches;
	if (matches = content.match(/^(\*\*.*)/m)) {
		var tokens = matches[1].split("\t");
		var kcount = 0;
		var tcount = 0;
		for (var i=0; i<tokens.length; i++) {
			if (tokens[i] === "**kern") {
				kcount++;
			} else if (tokens[i] === "**text") {
				tcount++;
			}
		}
	}

	if (!vrvToolkit) {
		console.log("Error: verovio toolkit not available");
		return;
	}

	vrvOptions.pageHeight = 1000;

	if (kcount > 0) {
		vrvOptions.pageHeight = 230 * kcount + 80 * tcount;
		// target.style.height = parseInt(vrvOptions.pageHeight / 3.8 + 100 ) + "px";
	}

	if (INCIPIT_STYLE) {
		// full-page display
		vrvOptions.pageHeight = 60000;
	}

	vrvToolkit.setOptions(vrvOptions);
	vrvToolkit.loadData(content);

	var pagecount = vrvToolkit.getPageCount();
	if (CURRENT_PAGE > 1) {
		if (CURRENT_PAGE > pagecount) {
			CURRENT_PAGE = 1;
		}
	} else if (CURRENT_PAGE < 1) {
		CURRENT_PAGE = pagecount;
	}
	var svg = vrvToolkit.renderPage(CURRENT_PAGE);
	var matches;
	if (matches = svg.match(/height="(\d+)px"/)) {
		target.style.height = "";
	}
	target.innerHTML = svg;

}



//////////////////////////////
//
// incrementVerovioPage --
//

function incrementVerovioPage(direction) {
	CURRENT_PAGE += direction;
	var pagecount = vrvToolkit.getPageCount();
	if (CURRENT_PAGE > 1) {
		if (CURRENT_PAGE > pagecount) {
			CURRENT_PAGE = 1;
		}
	} else if (CURRENT_PAGE < 1) {
		CURRENT_PAGE = pagecount;
	}

	var target = document.querySelector("#verovio-display");
	if (!target) {
		console.log("Cannot find target id: #verovio-display");
		return;
	}

	var svg = vrvToolkit.renderPage(CURRENT_PAGE, vrvOptions);
	target.innerHTML = svg;

}




//////////////////////////////
//
// getHumdrum --
//

function getHumdrum(id) {
	var tag = "humdrum_" + id;
	var tagcontent;
	var element = document.querySelector("#humdrum-data");
	if (!element) {
		return;
	}

	if (sessionStorage[tag]) {
		element.textContent = sessionStorage[tag];
		initializeVerovioNotation("humdrum-data", "verovio-display");
	} else {
		var action = "humdrum";
		var url = "http://josquin.stanford.edu/cgi-bin/tasso?a=" + action + "&id=" + id;
		var request = new XMLHttpRequest();
		request.open('GET', url);
		request.addEventListener("load", function() {
			var data = this.responseText;
			sessionStorage[tag] = data;
			if (element) {
				element.textContent = data;
				initializeVerovioNotation("humdrum-data", "verovio-display");
			}
		});
		request.send()
	}

	getHumdrumNoRecurse(ORDER[id].next);
	getHumdrumNoRecurse(ORDER[id].previous);
}



//////////////////////////////
//
// getHumdrumNoRecurse --
//

function getHumdrumNoRecurse(id) {
	var tag = "humdrum_" + id;
	if (sessionStorage[tag]) {
		return;
	}

	var action = "humdrum";
	var url = "http://josquin.stanford.edu/cgi-bin/tasso?a=" + action + "&id=" + id
	var request = new XMLHttpRequest();
	request.open('GET', url);
	request.addEventListener("load", function() {
		var data = this.responseText;
		sessionStorage[tag] = data;
	});
	request.send()
}



//////////////////////////////
//
// getRange --
//

function getRange(id) {
	var tag = "range";
	var element = document.querySelector("#" + tag);
	var output = "";
	output += "<h3>Vocal Ranges</h3>";

	if (sessionStorage[tag]) {
		if (element) {
			output += "<div class='indent'>";
			output += sessionStorage[tag];
			output += "</div>";
			element.innerHTML = output;
			setSvgSize();
		}
	} else {
		var action = "prange-svg";
		var url = "http://josquin.stanford.edu/cgi-bin/tasso?a=" + action + "&id=" + id
		var request = new XMLHttpRequest();
		request.open('GET', url);
		request.addEventListener("load", function() {
			var data = this.responseText;
			if (data.match(/DOCTYPE HTML/)) {
				return;
			}
			sessionStorage[tag] = data;
			if (element) {
				output += "<div class='indent'>";
				output += data;
				output += "</div>";
				element.innerHTML = output;
				setSvgSize();
			}
		});
		request.send()
	}

	getRangeNoRecurse(ORDER[id].next);
	getRangeNoRecurse(ORDER[id].previous);
}



//////////////////////////////
//
// setSvgSize --
//

function setSvgSize() {
	var svg = document.querySelector("#range svg");
	var width = svg.getAttribute("width");
	var height = svg.getAttribute("height");
	var scale = 1.6;
	width *= scale;
	height *= scale;
	svg.setAttribute("width", width);
	svg.setAttribute("height", height);
}



//////////////////////////////
//
// getRangeNoRecurse --
//

function getRangeNoRecurse(id) {
	var tag = "range_" + id;
	if (sessionStorage[tag]) {
		return;
	}

	var action = "prange-svg";
	var url = "http://josquin.stanford.edu/cgi-bin/tasso?a=" + action + "&id=" + id
	var request = new XMLHttpRequest();
	request.open('GET', url);
	request.addEventListener("load", function() {
		var data = this.responseText;
		sessionStorage[tag] = data;
	});
	request.send()
}



//////////////////////////////
//
// getWorkInfo --
//

function getWorkInfo(id) {
	if (!WORKLIST) {
		return null;
	}
	var i, j;
	for (i=0; i<WORKLIST.length; i++) {
		var rep = WORKLIST[i];
		for (j=0; j<rep.works.length; j++) {
			if (rep.works[j].id === id) {
				return rep.works[j];
			}
		}
	}
}



//////////////////////////////
//
// getNextWork --
//

function getNextWork(id) {
	return id;
}



//////////////////////////////
//
// getNextWork --
//

function getPreviousWork(id) {
	return id;
}



//////////////////////////////
//
// buildNextPreviousLists --
//

function buildNextPreviousLists() {
	ORDER = {};
	var ids = [];
	var i;
	for (i=0; i<WORKLIST.length; i++) {
		var works = WORKLIST[i].works;
		for (var j=0; j<works.length; j++) {
			var id = works[j].id;
			ids.push(id);
		}
	}
	ids.sort();
	
	var id;
	for (i=1; i<ids.length-1; i++) {
		id = ids[i];
		nextone = ids[i+1];
		prevone = ids[i-1];
		ORDER[id] = { "next": nextone, "previous": prevone };
	}

	ORDER[ids[0]] = {"next": ids[1], "previous": ids[ids.length-1] };
	ORDER[ids[ids.length-1]] = {"next": ids[0], "previous": ids[ids.length-2] };

}



//////////////////////////////
//
// verses Handlebard helper -- Assuming translation has the same
//     dimension as verses.
//

Handlebars.registerHelper("verses", function(verses, translation, catnum) {
	var rime = catnum.match(/Trm0*(\d+)/)[1];
	
	if (!verses) {
		return "";
	}
	var v;
	var t;
	var output = "<h3> Text and Translation";
	output += "<span class='variant'>(";
	output += "<a href='/variants?rime=";
	output += rime;
	output += "'>";
	output += "go to <i>Rime</i> variants";
	output += "</a>";
	output += ")</span>";
	output += "</h3>";
	output += "<div class='indent'>";
	output += "<table class=poem>";
	if (verses.VERSE instanceof Array) {
		output += "<tr>";
		output += "<td>";
		output += verses.VERSE.length
	} else {
		output += "<tr>";
		output += "<td>";
		v = verses.VERSE.split(/\n/);
		for (var i in v) {
			if (i==0) { output += "<div class='first-line'>" + v[i] + "</div>";
			} else    { output += "<div class='other-line'>" + v[i] + "</div>"; }
		}
		output += "</td>";
		output += "<td>";
		t = translation.VERSE.split(/\n/);
		for (var i in t) {
			if (i==0) { output += "<div class='first-line'>" + t[i] + "</div>";
			} else    { output += "<div class='other-line'>" + t[i] + "</div>"; }
		}
		output += "</td>";
		output += "</tr>";
	}
	output += "</table>";
	output += "</div>";
	return new Handlebars.SafeString(output);
});



//////////////////////////////
//
// composer Handlebar helper --
//

Handlebars.registerHelper("formatComposer", function(text) {
	var matches;
	var output = text;
	if (matches = text.match(/(.*),\s*(.*)/)) {
		output = matches[2] + " " + matches[1];
	}
	return new Handlebars.SafeString(output);
});



//////////////////////////////
//
// shortcomposer Handlebar helper  -- Prevent linebreak after RISM
//      and its number.
//

Handlebars.registerHelper("shortcomposer2", function(text) {
	var fullname = text;
	var matches;
	text = text.replace(/^\s+/, "").replace(/\s+$/, "");
	var pieces = text.split(/\s+/);

	var abbrname = "";
	for (var i=0; i<pieces.length-1; i++) {
		if (pieces[i][0] == pieces[i][0].toLowerCase()) {
			// such as "del"
			abbrname += " " + pieces[i];
		} else if (pieces[i][0] == pieces[i][0].toUpperCase()) {
			abbrname += " " + pieces[i][0] + ".";
		} else {
			// strange case
			abbrname += " " + pieces[i];
		}
	}
	abbrname += " " + pieces[pieces.length-1];
	abbrname = abbrname.replace(/^\s+/, "");
	abbrname = abbrname.replace(". ", ".");
	var output = "<span title='" + fullname + "'>" + abbrname + "</span>";

	return new Handlebars.SafeString(output);
});



//////////////////////////////
//
// title Handlebar helper  -- format peoples' names.
//

Handlebars.registerHelper("formatTitle", function(text) {
	if (!text) {
		return new Handlebars.SafeString("EMPTY");
	}
	text = text.replace("ANGIOLETTA", "<span class=name>A<font style=\"font-variant:small-caps\">ngioletta</font></span>");
	text = text.replace("BARBARA", "<span class=name>B<font style=\"font-variant:small-caps\">arbara</font></span>");
	text = text.replace("Angioletta", "<span class=name>A<font style=\"font-variant:small-caps\">ngioletta</font></span>");
	text = text.replace("Barbara", "<span class=name>B<font style=\"font-variant:small-caps\">arbara</font></span>");
	return new Handlebars.SafeString(text);
});



//////////////////////////////
//
// principalsource Handlebar helper  -- format principal source information
//

Handlebars.registerHelper("principalsource", function(id) {
	var entry = GetSettingEntry(id);
	var text = entry.REPORT_PRINCIPALSOURCE;
	if (!text) {
		return new Handlebars.SafeString("None.");
	}
	return new Handlebars.SafeString(text);
});



//////////////////////////////
//
// emendation Handlebar helper  -- format principal source information
//

Handlebars.registerHelper("emendation", function(id) {
	var entry = GetSettingEntry(id);
	var text = entry.REPORT_EMENDATION;
	if (!text) {
		return new Handlebars.SafeString("None.");
	}
	return new Handlebars.SafeString(text);
});



//////////////////////////////
//
// reportnotes Handlebar helper  -- format principal source information
//

Handlebars.registerHelper("reportnotes", function(id) {
	var entry = GetSettingEntry(id);
	var text = entry.REPORT_NOTES;
	if (!text) {
		return new Handlebars.SafeString("None.");
	}
	return new Handlebars.SafeString(text);
});



//////////////////////////////
//
// id2rime Handlebar helper  -- Extract Rime number from catalog number.
//

Handlebars.registerHelper("id2rime", function(text) {
	var matches;
	var output = 0;
	if (matches = text.match(/^Trm0*(\d+)/)) {
		output = matches[1];
	}
	return new Handlebars.SafeString(output);
});



//////////////////////////////
//
// sortByText --
//

function sortByText(index) {
	var data = document.querySelectorAll(".data");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A = a.cells[index].innerHTML;
		var B = b.cells[index].innerHTML;
		var result = A.localeCompare(B);
		return result;
	});
	var body = document.querySelector("table.worklist tbody");
	body.innerHTML = "";
	for (i=0; i<datalist.length; i++) {
		body.appendChild(datalist[i]);
	}
}



//////////////////////////////
//
// sortByNumber --
//

function sortByNumber(index) {
	var data = document.querySelectorAll(".data");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A = parseInt(a.cells[index].innerHTML);
		var B = parseInt(b.cells[index].innerHTML);
		if (A < B)      { return -1 }
		else if (A > B) { return +1 }
		else            { return 0  }
	});
	var body = document.querySelector("table.worklist tbody");
	body.innerHTML = "";
	for (i=0; i<datalist.length; i++) {
		body.appendChild(datalist[i]);
	}
}



//////////////////////////////
//
// expandIncipit --
//

function expandIncipit() {
	var element = document.querySelector("#expand");
	var nelement = document.querySelector("#nextsys");
	var pelement = document.querySelector("#prevsys");
	var text = element.textContent;
	INCIPIT_STYLE = !INCIPIT_STYLE;
	if (INCIPIT_STYLE) {
		element.textContent = "contract";
		nelement.textContent = "";
		pelement.textContent = "";
	} else {
		element.textContent = "expand";
		nelement.textContent = "next system";
		pelement.textContent = "previous system";
	}
	initializeVerovioNotation();
}



</script>


