<script src="/scripts/scripts-common.js"></script>

{% include_relative templates.html %}
{% include_relative listeners.html %}

<script>
// vim: ts=3

{% include_relative sorting-functions.html %}
{% include_relative music-code.html %}
{% include_relative literary-code.html %}

var MUSICFIELDS    = {};
var LITERARYFIELDS = {};

var RSOURCES = {};   // reverse index for source info for popups.

var SOURCEHILIGHT = {};
var RMANUSCRIPTS = null; // lookup table for manuscripts.
var RPRINTS = null; // lookup table for prints.



//////////////////////////////
//
// showTab --
//

function showTab(hiid) {
	var music     = document.querySelector("#music-heading");
	var text      = document.querySelector("#text-heading");

	music.className   = hiid == "music-heading"   ? "active" : "";
	text.className    = hiid == "text-heading"    ? "active" : "";

	fillMusicBrowsePage();
	fillLiteraryBrowsePage();
}



//////////////////////////////
//
// getOptionListText -- Prepare the list of <option> elements for a selection list.
//

function getOptionListText(options, remappings) {
	var output = "";
	for (var i=0; i<options.length; i++) {
		var text = options[i];
		var text2 = text;
		if (remappings[text]) {
			text = remappings[text];
		}
		output += "<option value='" + text + "'>" + text2 + "</option>";
	}
	return output;
}



//////////////////////////////
//
// getSelectOptions --
//

function getSelectOptions(field, searchlist) {
	var buffer = {};
	var value;
	for (var i=0; i<searchlist.length; i++) {
		if (!searchlist[i][field]) {
			continue;
		}
		value = searchlist[i][field];
		value.replace(/\s+$/, "").replace(/^\s+/, "");
		if (field === "DEDICATEE") {
			value = value.replace(/\s*Although Solerti places .*/, "");
		}
		buffer[value] = 1;
	}
	var keys = Object.keys(buffer);
	if (keys.length == 1) {
		return [];
	} 
	return keys.sort();
}



//////////////////////////////
//
// getSelectOptions2 --
//

function getSelectOptions2(field, subfield, searchlist) {
	var buffer = {};

	for (var i=0; i<searchlist.length; i++) {
		if (!searchlist[i][field]) {
			continue;
		}
		for (var property in searchlist[i][field]) {
			if (!searchlist[i][field][property][subfield]) {
				continue;
			}
		   buffer[searchlist[i][field][property][subfield]] = 1;
		}
	}
	var keys = Object.keys(buffer);
	return keys.sort();
}



//////////////////////////////
//
// getSelectOptionsKey --
//

function getSelectOptionsKey(field, searchlist) {
	var buffer = {};

	for (var i=0; i<searchlist.length; i++) {
		if (!searchlist[i][field]) {
			continue;
		}
		for (var property in searchlist[i][field]) {
		   buffer[property] = 1;
		}
	}
	var keys = Object.keys(buffer);
	return keys.sort();
}



//////////////////////////////
//
// fillReverseManuscripts --
//

function fillReverseManuscripts() {
	if (RMANUSCRIPTS) {
		return;
	}
	RMANUSCRIPTS = {};
	var mlist = TASSODATA.MANUSCRIPTS.MANUSCRIPT;
	var i;
	for (i=0; i<mlist.length; i++) {
		RMANUSCRIPTS[mlist[i].SMSIGLUM] = mlist[i];
	}
}



//////////////////////////////
//
// fillReversePrints --
//

function fillReversePrints() {
	if (RPRINTS) {
		return;
	}
	RPRINTS = {};
	var mlist = TASSODATA.PRINTS.PRINT;
	var i;
	for (i=0; i<mlist.length; i++) {
		RPRINTS[mlist[i].SPRINTNUM] = mlist[i];
	}
}



//////////////////////////////
//
// filterBySubField --
//

function filterBySubField(entries, subfield, field, value, bound) {
	if (!entries) {
		return [];
	}
console.log("GOT HERE", entries);
	if (entries.length == 0) {
		return [];
	}
	var output = [];

	// fix for regular expressions:
	//value = value.replace(/'/g, "\\\'");

	var entry;
	if (bound) {
		value = "\\b" + value + "\\b";
	}
	var re = new RegExp(value, "i");
	for (var i=0; i<entries.length; i++) {
		entry = entries[i][subfield];
		if (!entry) {
			continue;
		}
		if (field instanceof Array) {
			var found = 0;
			for (var j=0; j<field.length; j++) {
				if (!entry[field[j]]) {
					continue;
				}
				if (entry[field[j]].match(re)) {
					found = 1;
					break;
				}
			}
			if (found) {
				output.push(entries[i]);
			}
		} else {
			if (!entry[field]) {
				continue;
			}
			if (entry[field].match(re)) {
				output.push(entries[i]);
			}
		}
	}

	return output;
}



//////////////////////////////
//
// filterbyLinkedPrintFields --
//

function filterByLinkedPrintFields(entries, tag1, value1, tag2, value2) {
console.log("CHECKING TAG1", tag1, value1, "TAG2", tag2, value2);
	if (!entries) {
		return [];
	}
	if (entries.length == 0) {
		return [];
	}
	var output = [];

	var re1 = new RegExp(value1, "i");
	var re2 = new RegExp(value2, "i");

	for (var i=0; i<entries.length; i++) {
		var entry = entries[i];
		if (!entry.PRINTS) {
			continue;
		}
		for (var prn in entry.PRINTS) {
			if (entry.PRINTS[prn][tag1].match(re1) &&
			    entry.PRINTS[prn][tag2].match(re2)) {
				output.push(entry);
				break;
			}
		}
	}
	return output;
}



//////////////////////////////
//
// filterbyLinkedManuscriptFields --
//

function filterByLinkedManuscriptFields(entries, tag1, value1, tag2, value2) {
	if (!entries) {
		return [];
	}
	if (entries.length == 0) {
		return [];
	}
	var output = [];

	var re1 = new RegExp(value1, "i");
	var re2 = new RegExp(value2, "i");

	for (var i=0; i<entries.length; i++) {
		var entry = entries[i];
		if (!entry.MANUSCRIPTS) {
			continue;
		}
		for (var manu in entry.MANUSCRIPTS) {
			if (entry.MANUSCRIPTS[manu][tag1].match(re1) &&
			    entry.MANUSCRIPTS[manu][tag2].match(re2)) {
				output.push(entry);
			}
		}
	}
	return output;
}



//////////////////////////////
//
// filterByField --
//

function filterByField(entries, field, value, bound) {
	if (!entries) {
		return [];
	}
	if (entries.length == 0) {
		return [];
	}
	var output = [];

	// fix for regular expressions:
	//value = value.replace(/'/g, "\\\'");

	if (bound) {
		value = "\\b" + value + "\\b";
	}
	var re = new RegExp(value, "i");
	for (var i=0; i<entries.length; i++) {
		if (field instanceof Array) {
			var found = 0;
			for (var j=0; j<field.length; j++) {
				if (!entries[i][field[j]]) {
					continue;
				}
				if (entries[i][field[j]].match(re)) {
					found = 1;
					break;
				}
			}
			if (found) {
				output.push(entries[i]);
			}
		} else {
			if (!entries[i][field]) {
				continue;
			}
			if (entries[i][field].match(re)) {
				output.push(entries[i]);
			}
		}
	}

	return output;
}



//////////////////////////////
//
// insertCgiSearchParameters -- Take browse parameters from the
//     URL and insert into search fields.
//

function insertCgiSearchParameters() {

	if (CGI.year) {
		var yearelement = document.querySelector("#browse-year");
		if (yearelement) {
			yearelement.value = CGI.year;
		}
	}

	if (CGI.location) {
		var locationelement = document.querySelector("#browse-location");
		if (locationelement) {
			locationelement.value = CGI.location;
		}
	}

	if (CGI.publocation) {
		var publocationelement = document.querySelector("#browse-publocation");
		if (publocationelement) {
			publocationelement.value = CGI.publocation;
		}
	}

	if (CGI.manlocation) {
		var manlocationelement = document.querySelector("#browse-manlocation");
		if (manlocationelement) {
			manlocationelement.value = CGI.manlocation;
		}
	}

	if (CGI.publisher) {
		var publisherelement = document.querySelector("#browse-publisher");
		if (publisherelement) {
			publisherelement.value = CGI.publisher;
		}
	}

	if (CGI.rism) {
		var rismelement = document.querySelector("#browse-rism");
		var rism = cleanRismText(CGI.rism);
		if (rismelement) {
			rismelement.value = rism;
		}
	}

	if (CGI.composer) {
		var composerelement = document.querySelector("#browse-composer");
		var composer = CGI.composer;
		if (composerelement) {
			composerelement.value = composer;
		}
	}

	if (CGI.final) {
		var finalelement = document.querySelector("#browse-final");
		var final = CGI.final;
		if (finalelement) {
			finalelement.value = final;
		}
	}

	if (CGI.clef) {
		var clefelement = document.querySelector("#browse-clef");
		var clef = CGI.clef;
		if (clefelement) {
			clefelement.value = clef;
		}
	}

	if (CGI.mensuration) {
		var mensurationelement = document.querySelector("#browse-mensuration");
		var mensuration = CGI.mensuration;
		if (mensurationelement) {
			mensurationelement.value = mensuration;
		}
	}

	if (CGI.key) {
		var keyelement = document.querySelector("#browse-key");
		var key = CGI.key;
		if (keyelement) {
			keyelement.value = key;
		}
	}

	if (CGI.mdedicatee) {
		var mdedicateeelement = document.querySelector("#browse-mdedicatee");
		var mdedicatee = CGI.mdedicatee;
		if (mdedicateeelement) {
			mdedicateeelement.value = mdedicatee;
		}
	}

	if (CGI.title) {
		var titleelement = document.querySelector("#browse-title");
		var title = CGI.title;
		if (titleelement) {
			titleelement.value = title;
		}
	}


   // Literary-specific searching (automatically sets the type=literary
	// in the DOMContentLoaded listener).

	if (CGI.genre) {
		var genreelement = document.querySelector("#browse-litgenre");
		var genre = CGI.genre;
		if (genreelement) {
			genreelement.value = genre;
		}
	}

	if (CGI.manuscript) {
		var manuscriptelement = document.querySelector("#browse-manuscript");
		var manuscript = CGI.manuscript;
		if (manuscriptelement) {
			manuscriptelement.value = manuscript;
		}
	}

	if (CGI.print) {
		var printelement = document.querySelector("#browse-print");
		var print = CGI.print;
		if (printelement) {
			printelement.value = print;
		}
	}

	if (CGI.dedicatee) {
		var dedicateeelement = document.querySelector("#browse-dedicatee");
		var dedicatee = CGI.dedicatee;
		if (dedicateeelement) {
			dedicateeelement.value = dedicatee;
		}
	}

}



///////////////////////////////
//
// cleanRismText -- Format RISM A/I correctly.
//

function cleanRismText(rism) {
	var matches;
	if (matches = rism.match(/^([A-Z])(\d+)$/)) {
		rism = matches[1] + " " + matches[2];
	} else if (matches = rism.match(/^([A-Z])-(\d+)$/)) {
		rism = matches[1] + " " + matches[2];
	} else if (matches = rism.match(/^([A-Z])_(\d+)$/)) {
		rism = matches[1] + " " + matches[2];
	} else if (matches = rism.match(/^([a-z])(\d+)$/)) {
		rism = matches[1].toUpperCase() + " " + matches[2];
	} else if (matches = rism.match(/^([a-z])-(\d+)$/)) {
		rism = matches[1].toUpperCase() + " " + matches[2];
	} else if (matches = rism.match(/^([a-z])_(\d+)$/)) {
		rism = matches[1].toUpperCase() + " " + matches[2];
	}
	return rism;
}



//////////////////////////////
//
// highlightSources --
//

function highlightSources() {
	var sources = document.querySelectorAll("td.sources");
	console.log("HIGHLIGHTING SOURCES", sources);

}



//////////////////////////////
//
// displaySingleWork --
//

function displaySingleWork(id) {
	if (!id) {
		return;
	}
	window.open("/work?id=" + id);
	// window.location.href = "/work?id=" + id;
}



//////////////////////////////
//
// prepareRsources --
//

function prepareRsources() {
	var prints = TASSODATA.PRINTS.PRINT;
	var manuscripts = TASSODATA.MANUSCRIPTS.MANUSCRIPT;
	var i;
	for (i=0; i<prints.length; i++) {
		RSOURCES[prints[i].SPRINTNUM] = prints[i];
	}
	for (i=0; i<manuscripts.length; i++) {
		RSOURCES[manuscripts[i].SMSIGLUM] = manuscripts[i];
	}
}


</script>

