@font-face {
  font-family: 'Simonetta';
  font-style: normal;
  font-weight: 400;
  src: local('Simonetta'), local('Simonetta-Regular'), url(https://fonts.gstatic.com/s/simonetta/v5/pP-YCzhElv5jnwzoOUSUyqCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
