
<script src="/scripts/scripts-common.js"></script>

{% include_relative listeners.html %}
{% include_relative templates.html %}

<script>
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Fri Mar 25 00:02:06 PDT 2016
// Last Modified: Sun Apr  9 09:57:44 PDT 2017
// Filename:      variants/scripts-local.html
// Syntax:        JavaScript 1.8/ECMAScript 5
// vim:           ts=3: ft=javascript
//
// Description:   JavaScript management for the literary variants.
//

var CurrentPoem  = 0;  // ID of the current setting
var PoemList     = {}; // List of next/previous settings

var VARIORUM = {};


//////////////////////////////
//
// displaySetting --
//

function displaySetting(poem) {
	if (!poem) {
		poem = CurrentPoem;
	}
	if (poem) {
   	window.location = "/settings/?id=" + poem;
	} else {
   	window.location = "/settings";
	}
}



//////////////////////////////
//
// displaySource --
//

function displaySource(poem) {
	if (!poem) {
		poem = CurrentPoem;
	}
	if (poem) {
		window.location = "/sources/?id=" + poem;
	} else {
		window.location = "/sources";
	}
}



//////////////////////////////
//
// displayNextSource --
//

function displayNextSource() {
	var nid = PoemList[CurrentPoem].next;
 	displayLiteraryVariants(nid);
}



//////////////////////////////
//
// displayPreviousSource --
//

function displayPreviousSource() {
	var nid = PoemList[CurrentPoem].previous;
 	displayLiteraryVariants(nid);
}



//////////////////////////////
//
// displayLiteraryVariants -- Show the literary variants for the given
// 	catalog number.
//

function displayLiteraryVariants(id, target) {
	PrepareGlobalTassoObjects();
	if (!target) {
		target = "#contents";
	}
	if (id) {
		id = id.replace(/[a-z]$/, "");
		CurrentPoem = id;
	}

	var element = document.querySelector(target);
	if (!element) {
		console.log("Error: cannot place on page since", target, " doesn't exist.");
		return;
	}
	getPoemList(CurrentPoem, target);
}


function getPoemList(id, target) {

	if (id) {
		CurrentPoem = id;
	}
console.log("CURRENT ID", id, "TARGET", target);

//	buildPoemList(RIMEVERSELIST);
//	reallyDisplayVariants(CurrentPoem, target);

	buildAllSettingList();
	buildPoemList(ALLSETTINGLIST);
	reallyDisplayVariants(id, target);
}



//////////////////////////////
//
// buildAllSettingList --
//

function buildAllSettingList() {
	ALLSETTINGLIST = RIMESETTINGLIST
// for now only incude rime settings in list of variants
// since there is only poetic text for the rime.
//		.concat(GERUSETTINGLIST)
//		.concat(AMINTASETTINGLIST)
//		.concat(OTHERSETTINGLIST.ECLOGHE)
//		.concat(OTHERSETTINGLIST.RINALDO)
//		.concat(OTHERSETTINGLIST.LAGRIME)
//		.concat(OTHERSETTINGLIST.TORRISMONDO)
	;
}



//////////////////////////////
//
// buildPoemList --
//

function	buildPoemList(list) {
	var tosort = {};
	var id;
	if (!list) {
		// list = ALLSETTINGLIST;
		list = RIMEVERSELIST;
	}
	for (var i=0; i<list.length; i++) {
		if (!list[i].CATALOGNUM) {
			if (list[i].SOLERTI) {
				id = "Trm";
				if (parseInt(list[i].SOLERTI) < 1000) {
					id += "0";
				}
				if (parseInt(list[i].SOLERTI) < 100) {
					id += "0";
				}
				if (parseInt(list[i].SOLERTI) < 10) {
					id += "0";
				}
				id += list[i].SOLERTI;
			}
		} else {
			id = list[i].CATALOGNUM.replace(/[a-z]$/, "");
		}
		tosort[id] = 1;
	}
	var ids = Object.keys(tosort);
	ids.sort();
	PoemList = {};
	for (i=1; i<=ids.length-1; i++) {
		PoemList[ids[i]] = {};
		PoemList[ids[i]].next     = ids[i+1];
		PoemList[ids[i]].previous = ids[i-1];
	}

	if (ids.length == 1) {
		PoemList[ids[0]] = {};
		PoemList[ids[0]].next = ids[0];
		PoemList[ids[0]].previous = ids[0];
		return;
	}

	PoemList[ids[0]] = {};
	PoemList[ids[0]].next = ids[1];
	PoemList[ids[0]].previous = ids[ids.length-1];

	PoemList[ids[ids.length-1]] = {};
	PoemList[ids[ids.length-1]].next = ids[0];
	PoemList[ids[ids.length-1]].previous = ids[ids.length-2];

}



//////////////////////////////
//
// reallyDisplayVariants --
//

function reallyDisplayVariants(id, target) {

	if (!target) {
		target = "#contents";
	}
	var element = document.querySelector(target);
	if (!element) {
		console.log("Error: cannot place Poem literary sources on page.");
		return;
	}

   var output = "";
   if (!id) {
		element.innerHTML = " no multiple variant view allowed ";
		return;
		output += displayMultiplePoemVariants();
	} else {
		output += singlePoemVariantHeader(id);
/*
		if (VARIORUM[id]) {
			var innercontent = document.querySelector("#inner-content");
			console.log(innercontent);
			output += "<iframe src='variorum/index.html'></iframe>";
			if (innercontent) {
				innercontent.innerHTML = output;
			}
		} else {
			output += displaySinglePoemVariant(id);
		}
*/
	}
	output += "<div style='margin-bottom:200px;'></div>";
	element.innerHTML = output;
}



//////////////////////////////
//
// displayMultiplePoemVariants --
//

function displayMultiplePoemVariants() {
	var output = "";
	output += "<div style='font-size:100%; margin-left:50px'>";
	output += "<center>";
	output += "<h1 style='padding-right:50px;'>About</h1>";
	output += "</center>";

	var settinglist = ALLSETTINGLIST;
	var rime;
   for (var i=0; i<settinglist.length; i++) {
		output += "<center><table style='margin-top:10px; ";
		output += "padding:0; padding-right:50px; width:100%'><tr>";
		output += "<td>";
		output += "</td><td style='width:100%; text-align:center'>";
		output += "<h2>";
		rime = settinglist[i].SOLERTI;
		var entry = settinglist[i];
   	if (!entry) {
      	console.log("Error accessing rime:", rime);
			return;
		}
   	var title = entry.TITLE;
		title = title.replace("ANGIOLETTA", "<span class=name>A<font style=\"font-variant:small-caps\">ngioletta</font></span>");
		title = title.replace("BARBARA", "<span class=name>B<font style=\"font-variant:small-caps\">arbara</font></span>");
		title = title.replace("Angioletta", "<span class=name>A<font style=\"font-variant:small-caps\">ngioletta</font></span>");
		title = title.replace("Barbara", "<span class=name>B<font style=\"font-variant:small-caps\">arbara</font></span>");
   	output += title;
   	output += " (";
		output += GetTitleName(rime);
		output += ")";
		output += "</h2>";
		output += "</td><td>";
		output += "</td></tr>";
		output += "</table></center>";

		output += "<div id=inner-contents>";
		var poemtable = getPoemTable(entry);
		output += poemtable;
		output += "</div>";
   }
	output += "</div>\n";
	return output;
}



//////////////////////////////
//
// prepareReverseVerse --
//

function prepareReverseVerse(vlist) {
	var output = {};
	for (var i=0; i<vlist.length; i++) {
		var id = vlist[i].SOLERTI;
		if (id) {
			var iid = "Trm";
			if (id < 1000) { iid += "0"; }
			if (id < 100)  { iid += "0"; }
			if (id < 10)   { iid += "0"; }
			iid += id;
			output[iid] = vlist[i];
		} else {
			id = vlist[i].CATALOGNUM;
			output[id] = vlist[i];
		}
	}
	console.log("VLIST ", output);
	return output;
}


//////////////////////////////
//
// singlePoemVariantHeader --
//

function singlePoemVariantHeader(id) {
	var vlist = GetFlatVerseList();
	var REVERSEVERSE = prepareReverseVerse(vlist);
   REVERSEVERSE.id  = id;

	var hsource = document.querySelector("#about-header-template").textContent;
	var htemplate = Handlebars.compile(hsource);
	var output = htemplate(REVERSEVERSE[id]);

	var asource = document.querySelector("#about-template").textContent;
	var atemplate = Handlebars.compile(asource);
	output += atemplate(REVERSEVERSE[id]);

	return output;
}



//////////////////////////////
//
// displaySinglePoemVariant --
//

function displaySinglePoemVariant(id) {
	var output = "";
	var ventry = GetRimeVerseEntry(id);
   if (!ventry) {
      console.log("Error accessing id:", id);
		return;
	}
	var poemtable = getPoemTable(ventry);
	output += "<div id=inner-contents>";
	output += poemtable;
	output += "</div>\n";
	output += "</div>\n";
	return output;
}



//////////////////////////////
//
// getMusicalSettingTable --
//

function getPoemTable(entry) {
	if (!entry) {
		return ""
	}
	var output = "";
   var verses = entry.VERSES.VERSE;
	output += "<table class='poem'>";
	if (typeof verses === "string") {
		output += getVerseLineRows(verses);
	} else {
		for (var i=0; i<verses.length; i++) {
			output += getVerseLineRows(verses[i]);
		}
	}
	return output;
}



//////////////////////////////
//
// getVerseLineRows -- Split a verse into separate table rows.
//

function getVerseLineRows(verse) {
	if (!verse) {
		return "";
	}
   var lines = verse.match(/[^\r\n]+/g);
	var output = "";
	for (var i=0; i<lines.length; i++) {
		if (i == 0) {
			output += "<tr><td class='first-line'>";
		} else {
			output += "<tr><td>";
		}
		var text = lines[i];
		text = text.replace("ANGIOLETTA", "<span class=name>A<font style=\"font-variant:small-caps\">ngioletta</font></span>");
		text = text.replace("BARBARA", "<span class=name>B<font style=\"font-variant:small-caps\">arbara</font></span>");
		text = text.replace("Angioletta", "<span class=name>A<font style=\"font-variant:small-caps\">ngioletta</font></span>");
		text = text.replace("Barbara", "<span class=name>B<font style=\"font-variant:small-caps\">arbara</font></span>");
		output += text;
		output += "</td></tr>";
   }
	return output;
}



//////////////////////////////
//
// getDescription --
//

function getDescription(item, tag, data) {
	if (item === "none") {
		return "";
	}
	var index = -1;
	for (var i=0; i<data.length; i++) {
      if (data[i][tag] == item) {
 			index = i;
			break;
		}
   }
	if (index < 0) {
		return "<span style='color:red'>NO DESCRIPTION</span>";
	}

   var output = "";
	var di = data[index];
	if (di.PRINTTITLE) {
		output += di.PRINTTITLE;
	} else if (di.DESCRIPTION) {
		output += di.DESCRIPTION;
	}

	return output;
}



//////////////////////////////
//
// setNextPreviousPoem --
//

function setNextPreviousPoem(rime) {
   Poem = rime;
   NextPoem = rime;
   PreviousPoem = rime;

	var index = -1;
	var list = RIMELIST.RIME;
	for (var i=0; i<list.length; i++) {
		if (rime == list[i].SOLERTI) {
			index = i;
         break;
		}
	}

	if (index < 0) {
      return;
   }

	if (index < list.length - 1) {
      NextPoem = list[index+1].SOLERTI;
	} else {
      NextPoem = list[0].SOLERTI;
	}

	if (index > 0) {
      PreviousPoem = list[index-1].SOLERTI;
	} else {
      PreviousPoem = list[list.length-1].SOLERTI;
	}
}


</script>


<script>
// qtip code

//////////////////////////////
//
// initializeTooltips -- Create tooltips for footnote displays.
//

function initializeTooltips() {
   var footnotes = document.querySelectorAll(".footnote");
   if (footnotes.length == 0) {
      return;
   }
   console.log("Tooltips:",footnotes.length);
   var i;
   for (i=0; i<footnotes.length; i++) {
      $(footnotes[i]).qtip({
         content: {
            text: generateFootnote($(footnotes[i]).attr("text"))
         },
         style: {
            classes: 'tooltip',
				'font-size': 62
         },
         position: {
            my: 'bottom left',
            at: 'right center'
         }
      });
		console.log($(footnotes[i]));
   }
}



//////////////////////////////
//
// generateFootnote --  Remove font markers (eventually insert the correct
//   font instead), and remove the footnote marker from the footnote text.
//

function generateFootnote(text) {
	return text;
}


</script>

