
#contents {
	border-top-right-radius: 0px !important;
}


iframe {
	width:100%;
	height:1000px;
	padding:0;
	margin:0;
	border: 0;
}

.editor:hover {
	cursor: pointer;
}

.triangle {
	color: #96835c;
	margin:0;
	padding:0;
	cursor:pointer;
	font-size: 100%;
}


table.poem {
	margin-top: 50px;
	margin-left: 300px;
	font-size: 110%;
	margin-bottom: 100px;
}


.poem tr {
	vertical-align: top;
}


.poem td {
	padding-left: 50px;
	font-size: 90%;
	padding-right: 0px;
	padding-bottom: 3px;
}


.poem td.first-line {
	padding-left: 0px;
}


.manuscript {
	color: brown;
	font-weight: bold;
}


.print {
	color: goldenrod;
	font-weight: bold;
}




